[2019-02-08 11:52] #328 closed

[2019-02-08 11:58] #346 closed

[2019-02-08 12:00] #324 closed

[2019-02-08 12:11] markstos commented on #349
@paglasoft Please provide a test for the test suite which reproduces the issue.

[2019-02-08 12:13] markstos commented on #343
If you believe this is a bug in passport-saml, please provide a test case for the test suite which reproduces the issue.

[2019-02-08 12:30] stavros-wb commented on #334
@gluxon can you try with the latest master?

[2019-02-08 23:05] paglasoft commented on #349
@markstos  thank you for the quick reply. I was following the example which had missing protocol settings. Once i added protocol:''https://' it worked.

[2019-02-08 23:05] #349 closed

[2019-02-08 23:10] paglasoft commented on #324
It is still a nightmare not working, I tried downgrading(0.10.12) and upgrading(1.1.2) .. still the same error.
`
Error: Invalid signature
--
  | at /opt/app-root/src/node_modules/passport-saml/lib/passport-saml/saml.js:609:15
  | at _fulfilled (/opt/app-root/src/node_modules/q/q.js:854:54)
  | at /opt/app-root/src/node_modules/q/q.js:883:30
  | at Promise.promise.promiseDispatch (/opt/app-root/sr

[2019-02-09 11:47] markstos commented on #348
@matthewaveryusa That project is unrelated to this one. Improving TypeScript support is welcome, but I don't know how to best start with that.

[2019-02-09 11:50] markstos commented on #338
@ahavriluk You mean you have a pull request ready on your local machine? Just push it your own Github account, which already have permission to push to. If you cloned this project, you may need to set up a second remote for your account. Review Github documentation on creating pull requests.

[2019-02-09 11:52] markstos commented on #283
@andkrist: The next release is scheduled within a week if you want to get this PR in soon.

[2019-02-09 11:58] markstos commented on #324
@paglasoft yelling in a headline style is not welcome. You _are_ welcome to pay someone to look into your issue or use a different module if you can't resolve it yourself. Yelling at the volunteers helping to maintain this module is counterproductive.

[2019-02-09 12:04] paglasoft commented on #324
Hi Team,

I did not meant to yelling. My apologies If it is taken that way. Thanks
for all the hardwork and excellent module.

Regards

On Sat, 9 Feb 2019 at 10:58 PM, Mark Stosberg <notifications@github.com>
wrote:

[2019-02-11 15:21] VilleMiekkoja opened #351 "InResponseTo is not valid in logout"
Logout does not set InResponseTo to cache. But then expects it to be found in logout-callback if passport.authenticate is applied there (as should). This results in error:

`InResponseTo is not valid`

[2019-02-11 16:18] stavros-wb commented on #351
@VilleMiekkoja are you using MultiSamlStrategy?

[2019-02-11 22:29] markstos commented on #191
@stavros-wb Does this issue need to remain open?

[2019-02-12 06:59] stavros-wb commented on #191
@markstos I think it's fixed in https://github.com/bergie/passport-saml/commit/7674e18e2cc674132a9655936c2fca5dfc72af70

[2019-02-12 08:49] VilleMiekkoja commented on #351
@stavros-wb No.

[2019-02-12 10:55] #191 closed

[2019-02-12 12:33] jgomer2001 commented on #337
I would do this:

[code]

[2019-02-14 15:20] VilleMiekkoja commented on #351
Opened PR for this: https://github.com/bergie/passport-saml/pull/356

[2019-02-20 16:33] benbrown-work opened #357 "Logout with HTTP POST binding"
Our IDP uses HTTP-POST bindings for login and logouts.
Our login setup is working fine and I see that logout should also work for HTTP-POST binding from the [README logout section](https://github.com/bergie/passport-saml/blob/master/README.md#slo-single-logout).

For logout from the examples and code, it seems that only HTTP-Redirect is an option unless I am missing something or our IDP is impleme

[2019-02-20 23:07] markstos commented on #33
Considering this resolved by #277

[2019-02-20 23:07] #33 closed

[2019-02-21 02:43] gavinbelson opened #358 "passReqToCallback: true not working on MultiSamlStrategy"
In the conf below, I am using the   `,passReqToCallback: true` .. then adding `req` to the callback function.  (this is how this option works on passport-facebook)

I am getting:
TypeError: done is not a function

If I remove `req` from the callback it works again but then I don't have the `req` object that I need to use with the `profile`

[code]

[2019-02-21 02:54] gavinbelson commented on #358
Just checked and this does work if I use `SamlStrategy` instead of `MultiSamlStrategy`

[2019-02-21 07:21] stavros-wb commented on #358
@gavinbelson can you try:
[code]

[2019-02-21 21:20] juniorfoo opened #359 "KMS Support"
Forgive me if I missed something but I don't see how to use this with a KMS. I was thinking of putting in a PR to support passing in a callback for privateCert to do the signing. Thoughts?

[2019-02-23 18:02] gavinbelson commented on #358
Lifesaver. Thanks man, this works.

I believe in the docs it says to do:
`return done(null, provider.configuration);`

Maybe, this should be added to the docs somewhere?

[2019-03-01 06:23] etyp commented on #324
@huineng @christiaanwesterbeek were all attempts failing once upgraded to 1.0.0 or just some?

I'm running into this issue now when testing from [Okta's testing tool](http://saml.oktadev.com/), but even if I downgrade to 0.35.0 and ensure xml-crypto is at 0.10.1 I get the Invalid Signature error.

Maybe I'm misunderstanding the thread though :)

[2019-03-07 10:26] andkrist commented on #283
Submitted PR just now.

[2019-03-07 15:11] cjbarth commented on #283
That would be PR #361

[2019-03-11 09:06] fcorneli commented on #241
When using
[code]
the compression should indeed not kick in.

[2019-03-12 16:08] markstos commented on #359
I presume you mean "Key Management System". A patch is welcome it make `privateCert` accept a key through a callback, as `cert` does.

The workaround is to generate the key and place it on the filesystem for `passport-saml` to find before it boots up.

[2019-03-12 16:11] markstos commented on #357
@josecolella Here's another logout issue to consider while you are looking at others.

[2019-03-13 13:32] markstos commented on #351
Related PR has been merged.

[2019-03-15 20:42] ahavriluk commented on #169
I agree! There is no reason to pull the host from req.headers.host if this.options.host is provided.

[2019-03-20 05:24] laxine commented on #233
When you generate private key using openssl if creates in PEM encoded PKCS#1 format.
Try converting PEM to PKCS#8, it worked for me.

openssl pkcs8 -in <pem_in_PKCS#1> -topk8 -nocrypt -out <pem_in_PKCS#2>

PEM encoded PKCS#1 format private key begins with
-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----

PEM encoded PKCS#8 format private key begins with
-----BEGIN PRIVATE KEY-----

[2019-03-23 00:00] stevenztruong opened #364 "Question: does passport-saml support holder-of-key assertion?"
For example, if the SAML response contains this assertion:
[code]
Would it work? I have tried with a few IDPs but they are all using `Method="urn:oasis:names:tc:SAML:2.0:cm:bearer"`, so I could not try it.

[2019-03-26 18:14] markstos commented on #364
There are no mentions in the source code for "holder-of-key".

[2019-03-26 18:31] #351 closed

[2019-03-27 10:53] christiaanwesterbeek commented on #324
Since the "xml-crypto" dependency is now "^1.1.4" and 1.1.4 is not causing this bug anymore, this issue might just as well be closed.

[2019-03-27 10:53] christiaanwesterbeek commented on #324
@huineng Can you confirm that your problem is now gone after upgrading?

[2019-03-27 22:42] mishawakerman opened #365 "Expose SamlResponse parser"
I'm still wrapping my head around some of this so correct me if any base assumptions are wrong :)

I'm looking to implement a `MultiSamlStrategy` that allows our clients to use their respective SSO services. Rather than implement a seperate callback route for each client, I'm wanting to re-use the same `POST /saml/callback` for all all of the strategies.

My current implementation looks to add the

[2019-04-04 13:42] tverilytt opened #366 "MultiSamlStrategy - UnhandledPromiseRejectionWarning"
Hi!

I am getting a UnhandledPromiseRejectionWarning in MultiSamlStrategy function, and the function is async, when returning a done with error (or throwing an exception explicitly). Also if trying to return an new Promise reject directly.

Is this a know situation?

Cheers
-jo

(node:4516) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing insi

[2019-04-13 20:30] andkrist commented on #366
I had this error when I had set validateInResponseTo : true when in an IdP-initiated flow.

[2019-04-18 21:58] gluxon commented on #334
@stavros-wb Sorry for the late response, but this works! Thank you!

[2019-04-18 21:58] #334 closed

[2019-04-30 12:35] PeterAlb opened #369 "Missing function getSamlResponseXml"
Just realized that the function "getSamlResponseXml" on master is not available in the current release.

Master:
https://github.com/bergie/passport-saml/blob/48ac6558ef57edba8ed90fae53833e17b4b0d0ed/lib/passport-saml/saml.js#L1048

Release:
https://github.com/bergie/passport-saml/blob/677424cf2f594344e4e70bec0be2d7591a60e089/lib/passport-saml/saml.js#L1025

The docs are displaying wrong informatio

[2019-04-30 20:27] josecolella commented on #369
@PeterAlb I created the PR to master. It has been merged master. It's waiting for a release by @markstos

[2019-05-01 10:25] AlbertoWeinrichter opened #370 "Integration with Citrix Netscaler and certificates"
Hello all

We are trying to use Citrix Netscaler as IDP and we are having some trouble finding a configuration that works.

out configuration looks like this on passport-saml
  {
    entryPoint: 'IDP ENTRY POINT URL',
    callbackUrl: 'SP CALLBACK URL,
    issuer: 'SP URL',
    cert: fs.readFileSync('IDP CERTIFICATE IN .CER FORMAT', 'utf-8'),
    acceptedClockSkewMs: -5,
    identifierFormat: null

[2019-05-07 00:14] bjm88 commented on #338
Thanks, I adjusted this and got past that AD FS import error.  On invoking the init to do the SamlRequest POST ADFS is giving an error though:

Any idea how to resolve this?   I was not sure with this library how to generate assertions/claims in the AuthRequest or setup and convey to IDP that we want to get a set of attributes back like email... ?

How to use this: "attributeConsumingServiceIndex"

[2019-05-07 00:15] bjm88 opened #371 "ADFS SamlRequest processing error, Relying party not configured with SAML Assertion Consumer Services"
Any ideas on this error below? On invoking the init to do the SamlRequest POST ADFS is giving an error:

Any idea how to resolve this?   I was not sure with this library how to generate assertions/claims in the AuthRequest or setup and convey to IDP that we want to get a set of attributes back like email... ?

How to use this: "attributeConsumingServiceIndex" . ? (I just put it to "1" and it didn'

[2019-05-09 19:46] ahavriluk commented on #371
You need to register your callback URL in ADFS. Open your Relaying Part Trust properties dialog and add your callback URL in Endpoints tab.

I wasn't using attributeConsumingServiceIndex, so I can't help you with that.
We setup our claims for a specific Relaying Party in ADFS. Each claim was generating an particular assertion in SAML response.

[2019-05-10 00:06] markstos commented on #365
Yes, splitting out the passport-specific code and the SAML-processing code is welcome, as would be a more promise-friendly interface.

Closing as duplicate of #295. Also see the conversation here:
 https://github.com/bergie/passport-saml/pull/248#issuecomment-424386991

[2019-05-10 00:06] #365 closed

[2019-05-10 00:09] markstos commented on #366
I'm closing this because it sounds like a support request, not a bug report. Note some changes to MultiSaml support were just merged and will appear in the next release.

[2019-05-10 00:09] #366 closed

[2019-05-10 00:14] markstos commented on #369
I just merged a fix for failing tests today which were blocking release. We are close!

@PeterAlb Also, it never a bug for the latest document in Git to differ from what is released. If you want documentation that matches the shipped code, check the documentation that's actually shipped, or what appears on npmjs.org that matches the version you are using. Github is for development and can be expec

[2019-05-10 00:14] #369 closed

[2019-05-10 00:16] markstos commented on #370
Sorry, no one is monitoring issues here to handle support requests. I recommend trying StackOverflow instead, using the `passport-saml` tag.

[2019-05-10 00:16] #370 closed

[2019-05-10 00:18] markstos commented on #358
If the docs need improvement, a PR is welcome. Note there will be a bug-fix for Multi-SAML in the next release.

[2019-05-10 00:18] #371 closed

[2019-05-10 08:10] ssbrewster commented on #307
You can use the "object arg" format as long as you keep the header and footer for the key e.g.:
[code]
This is useful if you want to read the key in from a secure store.

[2019-05-10 21:24] #364 closed

[2019-05-13 08:02] PeterAlb commented on #369
Thanks for the clarification and the work on the next release ;)

[2019-05-13 13:57] markstos opened #373 "Planning for passport-saml 2.0 release"
Now that `passport-saml` 1.1 has been released, let's look forward.

These are my hopes for a passport-saml 2.0 release:

## Compatibility

 * [x] ~~Drop support for Node.js < 8. `async/await` and other newer JavaScript idioms are fair game to use now.~~
 * [x] From "Q" promises to native promises (and possibly bluebird?)

## Project Organization

 * [ ] [Split library into two](#295): A core SAML

[2019-05-14 01:06] josecolella commented on #373
@markstos One thing I'd like to throw out there is conversion of the code base to typescript. Don't know how you feel about this. It would bring enforcement of types, scalability, and more maintainable codebase.

[2019-05-14 12:13] cjbarth commented on #373
@josecolella I'd actually be all for that, and it would be easy enough to start migrating that direction by simply adding a compilation step and renaming a few files since all `.js` is valid `.ts`. The good news is that we already have fairly comprehensive types from DefinitelyTyped that we can use. However, we'd have to rely on DefinitelyTyped for up-stream types since those projects aren't nativ

[2019-05-14 12:38] josecolella commented on #373
@cjbarth Regarding tests, I'd be very much in favor of moving to Jest, where you get coverage reports out of the box. My two cents on async/await is that it allows for code to be tested much easier. @markstos I'd also like to add @toddbaert on this. We both use this library extensively

[2019-05-14 12:57] toddbaert commented on #373
@cjbarth I agree regarding maintaining the existing API "node-back" style - I wonder if adding an async API in addition could be a possible solution, many libs have handled this conundrum this way, whether in a separate package or the same.

[2019-05-14 12:59] cjbarth commented on #373
That could probably work @toddbaert . We would just have to detect if there is a function as the last argument and, if not, return a Promise, which is awaitable.

[2019-05-14 13:09] markstos commented on #373
I'm open to that. My company is adopting TypeScript in our major project. As a popular, security related module, I want to be careful about our choices there. There have been projects that have been compromised with changes hidden into minified code that weren't in the main code. My only concern is that we can provide assurance that the generated code matches the source code.

I think @toddbaert s

[2019-05-14 13:22] cjbarth commented on #373
The only reason I mention JavaScript Standard Style is because it is dead simple. If anyone has a suggestion for something else, I'm open to hear it.

[2019-05-14 19:06] cjbarth commented on #373
Does anyone see an advantage of moving away from a dependency on a Promise library (Q) and just using native promises?

[2019-05-14 19:08] toddbaert commented on #373
@cjbarth 2c: Personally, I strongly prefer native promises.

[2019-05-14 20:45] markstos commented on #373
@cjbarth I had forgotten about the dependency on `q`. I've added replacing our promise library to the roadmap. I would prefer native promises where possible and `bluebird` where we need extra features. For example, bluebird has a helper method to help a function accept a callback or return a promise, [asCallback()](http://bluebirdjs.com/docs/api/ascallback.html).

We should survey what compatibili

[2019-05-21 00:04] ahavriluk commented on #338
Did you setup Relying Party end points in ADFS?

[2019-05-28 10:11] asleboon opened #376 "SP initiated SLO HTTP-Redirect not working"
Hi

I was recently handed the task to figure out why the application doesn't sign the user out from the IdP. I have followed the standard way of doing it which seems to be something like this.

[code]

The problem is that the browser sends an OPTIONS request and we receive a 400 "bad request" error. I'm fairly new to passport-saml and I can't really figure out if something is wrong with the SAMLRe

[2019-05-29 20:56] sibelius commented on #373
to split this package in 2, we can use yarn workspaces, so we can easily manage them

is there someone working on this?

we can move to yarn workspaces first with only one package (the current package), and then start extracting the core logic

[2019-05-31 09:11] markstos commented on #373
No one is working on this that I'm aware of.

On Wed, May 29, 2019, 3:56 PM Sibelius Seraphini <notifications@github.com>
wrote:

[2019-05-31 12:32] ssbrewster commented on #373
Decoupling the decryption from `validatePostResponse` would be great as part of this for e.g. using the Issuer in an encrypted message in a MultiSamlStrategy's `getSamlOptions` method (arguably it could be done before a v2.0).

[2019-06-03 10:33] ssbrewster commented on #373
I've just realised that this lib does not support a SAML Response that has the entire message encrypted as opposed to only the assertion (it [checks for the presence of an encrypted assertion when validating the POST response](https://github.com/bergie/passport-saml/blob/5cdf341ae2a081eb995ab59aec0c81d732ca2758/lib/passport-saml/saml.js#L616) otherwise it looks like it throws an `Invalid signature

[2019-06-05 10:23] ssbrewster opened #377 "Fall back to cert in saml options in MultiSamlStrategy generateServiceProviderMetadata"
`MultiSamlStrategy.prototype.generateServiceProviderMetadata` calls `getSamlOptions` that allows fetching saml configuration for each provider. This can include the `cert` and I *think* that it would be a common case for this cert to match the decryption and signing private keys. For my use case I fetch the saml config from a service so with the current code I'm forced to make two requests for the

[2019-06-18 17:02] neemah opened #378 "MultiSamlStrategy"
Hello, i had to create my own MultiSamlStrategy:

[code]

this allows me to do following configuration:
[code]

Do i still need my own MultiSamlStrategy or i can achieve same effect using passport-saml ?

May i have example that do exactly the same (return parameters object in callback)?

[2019-06-19 06:38] stavros-wb commented on #378
hello @neemah, the only difference I see (with a quick glance) is that the `passReqToCallback` config is not saml settings specific, but configured at passport level.
see https://github.com/bergie/passport-saml/issues/358

[2019-06-19 15:58] zawars commented on #200
@mwarrier  I think you should try to redirect your application using HTTP status code 301 back to your login page or wherever to want.
` res.writeHead(301, {
                Location: config.callbackRedirectUrl
              });
`

[2019-06-24 18:37] ZoharLiran commented on #230
I'm seeing a similar issue when my cert has the lines
`-----BEGIN CERTIFICATE-----`
`-----END CERTIFICATE-----`
 I get the following error:
`Error: error:0906D06C:PEM routines:PEM_read_bio:no start line`

when I replace `CERTIFICATE` with `PRIVATE KEY` to get the lines:
`-----BEGIN PRIVATE KEY-----`
`-----END PRIVATE KEY-----`

I get the error:
`Error: error:0D0680A8:asn1 encoding routines:asn1_ch

[2019-06-24 19:27] markstos commented on #230
@ZoharLiran Are you using the most recent version of passport-saml?  Check your cert with other certificate checking tools to confirm it valid and in the right format. This does not appear to be a bug in passport-saml, so I'm marking this as closed.

[2019-06-24 19:27] #230 closed

[2019-07-06 01:31] stevenztruong opened #380 "[Question] Support for <AssertionConsumerServiceIndex> in AuthnContext"
Hi,

I am stuck in the situation where the IDP server (Siteminder) requires that the application needs to include <AssertionConsumerServiceIndex> and the IDP will use this index to look up the Assertion Consumer Service URL in case multiple SP servers are registered under one application name. This also means that AssertionConsumerServiceURL in the request will be ignored.

Does anyone know whethe

[2019-07-06 02:15] stevenztruong commented on #380
Worst case scenario, can I interrupt passport-saml flow somehow to modify the SAML request before it is sent to IDP?

[2019-07-11 07:59] DbCrWk opened #381 "Certificate mismatch does not throw descriptive error"
A SAML response comes back with a signature and the certificate used to generate that signature. When invoking the library, we pass a `cert` in options that specifies the key that we expect to have been used in creating the signature.

If the certificate that comes back in the SAML response does not match the `cert` option that is passed, it would be nice to have separately error-handling that pro

[2019-07-11 07:59] DbCrWk commented on #381
Also this is a great library! Thanks for making it!

[2019-07-17 20:38] jgomer2001 commented on #329
True, the problem in saml.js file (see else):

[code]
this was introduced in passport-saml 1.0.0

one would always like to use inresponseTo as long as inresponseTo exists (ie sp. initiated)

[2019-07-23 08:10] jacyuan opened #382 "pass additionalParams in authenticate function"
Hi,

(Version : 1.1.0)
projection with TypeScript

I'm trying to find a solution to pass / forward params to saml callback route.
I found this [issue](https://github.com/bergie/passport-saml/pull/136) which suggests to use the additionalParam, but passing "additionalParam" ends up with compilation error...

Each time when I try to ctrl+clic on the 'authenticate' function, it will point to the impl

[2019-07-24 03:27] codeocelot commented on #382
Although the docs don't mention it, the SAML spec allows for a RelayState field in the body so you can pass state and receive it in the callback.  Take a look at the following snippet.

<img width="753" alt="Screen Shot 2019-07-23 at 8 24 12 PM" src="https://user-images.githubusercontent.com/4086894/61762859-3520a480-ad88-11e9-8dc9-9485e5fa1ea0.png">

[2019-07-24 10:58] jacyuan commented on #382
Hi @codeocelot,

I saw that we can pass params through relayState, but I didn't know that could be set in the requestHandler level before applying authenticate function.

That's a good idea I think, I'll test it.

Thanks a lot for your suggestion !

[2019-07-24 12:14] #382 closed

[2019-07-25 22:48] sibelius commented on #373
I've moved the project to a monorepo structure here https://github.com/bergie/passport-saml/pull/383

so we can have saml-core and passport-saml and maybe more related packages if we needed

I can also setup eslint, lint-staged, commitlint, prettier and so on to improve commit messages and code in general

I can also move tests from mocha to jest

Can you add me as a contributor?

I think moving t

[2019-07-26 15:10] markstos commented on #373
@sibelius I can't add Github contributors here-- I am not the project owner. That's @bergie and he has been unresponsive for months over a number of a communications. Plan B is to fork the repo. Unfortunately without @bergie's blessing, we can't bring the issues with us, but the issues and PRs will at least remain available, so we can copy over interesting ones.

I recommend making a new Github Or

[2019-07-26 15:43] cjbarth commented on #373
Thankfully @bergie is still active on GitHub, so if we got all set up for a move to a new home, there is a possibility that he might click one button for us. Here's hoping!

[2019-08-01 05:09] pks90 opened #384 "express - redirected url not submitting form gives SAML assertion not yet valid"
I am not sure if it is something related to the browser update but the url to which I get redirected successfully by the **IDP** doesn't submit the post request i.e. I am expected to do it via browser. Can I do anything about it ?

More details in the following SO thread,

https://stackoverflow.com/q/57290983/1503130

[2019-08-05 01:52] mishawakerman commented on #381
Came to add the same issue. I am writing tests for the case where a rogue IdP in a multi-saml configuration tries to spoof a login response for a user associated with a different IdP. This gets correctly handled by `passport-saml` when the signatures don't match but it get's thrown as a 500 server error.

In our express app, I added the following to our global error handling:

[code]

so the clien

[2019-08-23 10:57] slider973 opened #385 "500 Cannot read property 'Status' of undefined"
I'm using loopback-component-passport am able to successfully authenticate through their SAML connector, however when SAML.verifyLogoutResponse  I receive the following error:

TypeError
500 Cannot read property 'Status' of undefined
TypeError: Cannot read property 'Status' of undefined
    at /Users/jonathan/Documents/LVAPP/LV6/node_modules/passport-saml/lib/passport-saml/saml.js:859:41
    at Pr

[2019-08-23 19:27] markstos commented on #385
Sorry, there's no here to provide support. You can try StackOverflow.

[2019-08-23 19:27] #385 closed

[2019-08-23 19:29] markstos commented on #384
I see the issue was answered on SO. Closing here.

[2019-08-23 19:29] #384 closed

[2019-08-23 19:35] markstos commented on #377
The `cert` is the signing cert. `decryptionPvk` is used for decryption.

[2019-08-23 20:04] ssbrewster commented on #377
The `decryptionCert` here refers to the public certificate that matches the private key.
[code]
My use case is a bit of an edge case so not worth a PR because it only really applies when testing s closing.

[2019-08-23 20:04] #377 closed

[2019-08-23 20:08] markstos commented on #329
Project maintainer here. I just read the SAML spec about InResponseTo. Here's what it says:

In context, SP-init response MUST have InResponseTo, but IdP responses *must not*.  When we released Passport-saml 1.0, we updated `InResponseTo` validation so that a missing `InResponseTo` was considered invalid. That made the SP-init case more secure, but it broke the IdP-init cases where `validateInResp

[2019-08-23 20:37] markstos commented on #329
IdP-initiated is less secure, partly due to the above issue.  The weaker security of IdP-initiated is discussed more here:

https://www.identityserver.com/articles/the-dangers-of-saml-idp-initiated-sso

The author's conclusion there is that maximize security, IdP-initiated should be supported on an as-needed basis.

Perhaps `passport-saml` should change the default value for `validateInResponseTo`

[2019-08-28 11:24] mishawakerman commented on #381
What do maintainers think about a PR that replaces the `Error`s in `SAML.prototype.validatePostResponse` with `SAMLValidationError`s so that in our error handling we can do something like:

[code]

[2019-08-29 13:47] markstos commented on #381
@DbCrWk I think your analysis and recommendation are spot-on. Throwing a custom error class is a great why to go. I think one error class with unique error messages will be sufficient. Would you be willing to submit a PR for this? Thanks.

[2019-08-30 01:51] DbCrWk commented on #381
@markstos awesome, I can start working on that. I will be careful to avoid making it a breaking change, but if some internal interface changes, I will flag that explicitly. I don't know what your development priorities look like, but would this still be useful in, say, like a month or two?

[2019-08-30 14:38] markstos commented on #381
No rush here. There is some talk of a big overhaul for a v2  (see pinned issue), but no work has started on that. It will be helpful to @ mention me in the pull request to bring it to my attention. Thanks.

[2019-08-30 19:54] DbCrWk commented on #373
Y'all this package is great, and I'd be happy to help with updating parts of this codebase.

From an end-users perspective, my two cents on some of these issues:
- Native promises are the way to go, especially coupled with the `async` / `await` syntax
- I continually have the TypeScript vs. Flow debate when writing new code, and I currently prefer Flow, for a variety of reasons. That being said, I

[2019-08-30 19:55] DbCrWk commented on #381
Awesome, will do!

[2019-08-30 20:00] DbCrWk commented on #380
tl;dr `passport-saml` does correctly set this index.

After you instantiate the strategy, you can output the service provider metadata to see exactly what is sent, like this
[code]
If you check the metadata, you'll see
[code]

[2019-08-30 21:01] markstos commented on #373
@DbCrWk Thanks for the input!

I don't have much exposure to Flow. My shop already uses TypeScript via Angular is introducing TypeScript on the backend as well. It would definitely be easier for me personally to deal with more TypeScript.

[2019-09-03 14:35] ahavriluk opened #386 "TypeError: self.error is not a function"
During migration to passport 1.1.0 got this error from my tests:
[code]

[2019-09-10 16:35] markstos commented on #282
I try to triage PRs but leave most refinements up to contributor. If they don't follow up, the PRs often linger in case someone else wants to pick them up.

There's also a new v2 branch and an issue about plans for v2.  There is no primary developer now, so patches are very much community-driven at this point.

[2019-09-10 16:42] markstos commented on #386
To show this an error in passport-saml, please create a PR that includes a failing test in the test suite.

Here's the line being referred to:

https://github.com/bergie/passport-saml/blob/master/lib/passport-saml/strategy.js#L75

If you call `authenticate()` as a function instead of a method, then `this` would not be bound, resulting in the error. That is-- this could be an error in your own code

[2019-09-12 17:48] markstos opened #391 "Bug: Travis runs linting but `npm test` doesn't"
This creates a situation where you can confirm that tests pass locally, only to have them fail on CI. A better design is for `npm test` to also run linting, and Travis would just run `npm test`.

If we want to skip linting, we can have a bare `mocha` command for that.

[2019-09-12 17:55] markstos opened #392 "Switch from jshint to eslint"
Eslint seems powerful and flexible and I'm more familiar with it. It seems we don't even have an .jshint file now, so we are just using  the default rules.

[2019-09-13 13:55] markstos commented on #227
I think we could better document our support of RelayState. RelayState is a standard feature of the SAML spec. It looks like we support it via `additionalParameters`. It would be helpful for new users searching for this answer if there was a hit in the README when they searched it for RelayState.

[2019-09-16 11:45] ricardosaracino commented on #233
just dropping here to help someone .. this formats certs

https://www.samltool.com/format_x509cert.php

[2019-09-16 19:29] markstos commented on #391
@sibelius That's the plan: Three jobs actually: one for linting, one for testing-only and one that runs first two tests together.

[2019-09-19 19:53] jasonbw opened #393 "Add `InResponseTo` to the profile object"
The code I'm working on needs the `InResponseTo` field. I see that it is getting parsed, but not  added to the profile object.

The ask: add `InResponseTo` to the profile object so that I can get it in `passport.use`.

[2019-09-23 15:11] ricardosaracino opened #394 "Cannot call MultiSamlStrategy logout synchronously"
logout was working when i wasnt using the multi strategy, but my await is not working using the  MultiSamlStrategy.prototype.logout

[code]

[code]

[2019-09-23 15:35] stavros-wb commented on #394
MultiSamlStrategy needs to call get the options dynamically, so it will call the callback asynchronously

[2019-09-23 15:54] ricardosaracino commented on #394
Ok... this is weird and i was a complete fluke that i stumbled on it .. but ...

changing this ...
[code]

to this fixed the problem
[code]

I wonder if @kamilmysliwiec can chime in on it

[2019-09-23 15:55] ricardosaracino commented on #394
All in all i dont think this is passport-saml problem

[2019-09-23 15:58] #394 closed

[2019-09-27 18:46] ricardosaracino commented on #196
Can someone point me in the direction of how to add aes256-cbc Assertion encryption support... i see this lib but not sure how to put it all together

https://github.com/auth0/node-xml-encryption

[2019-09-27 18:47] ricardosaracino commented on #10
Can someone point me in the direction of how to add aes256-cbc Assertion encryption support... i see this lib but not sure how to put it all together

https://github.com/auth0/node-xml-encryption

[2019-09-27 18:47] ricardosaracino commented on #76
Can someone point me in the direction of how to add aes256-cbc Assertion encryption support... i see this lib but not sure how to put it all together

https://github.com/auth0/node-xml-encryption

[2019-09-27 23:12] ricardosaracino commented on #373
So i need to use multi-saml and aes256-cbc assertion encryption ... passport-saml-encrypted does not support multi ... i would be willing to make some changes as i would need to fork this at the very least anyways.

.. this doesnt seem to complicated.. is there a reason this is not in the lib to being with?

https://github.com/lmarkus/passport-saml-encrypted/blob/4ed3ed4950f0d8701882881dc192f5fc5e

[2019-09-28 00:47] cjbarth commented on #373
@ricardosaracino Please start a new thread for this matter as your comment doesn't specifically relate to v2 of this library.

[2019-09-30 14:38] markstos commented on #373
@ricardosaracino We strive to spec-compliant. Assuming aes256-cbc is in the spec, we are interested to support it unless there's a strong reason not to.

[2019-09-30 15:42] ricardosaracino commented on #373
If you are interested i am trying to meet this standard... the relevant information is on page 33

https://canada-ca.github.io/CATS-STAE/archive/CATS_V2_0_Deployment_Profile_Final_r8_2_en.pdf

[2019-09-30 17:44] markstos commented on #373
The links to the related standard are helpful. A PR to support more algorithms supported by the standard are welcome. "@" mention me in the PR.

[2019-10-01 09:57] zatsepinvl opened #395 "Identity Brokering"
Is it possible to implement Identity Brokering feature based on passport-saml?

[2019-10-01 16:43] walokra commented on #392
At this point this doesn't seem to be reasonable switch as jshint works better when code has e.g. "not allowed" language features.

[2019-10-01 16:57] markstos commented on #392
Looking now.

[2019-10-01 17:32] #392 closed

[2019-10-01 17:40] markstos commented on #373
Thanks to @walokra for helping address two of items on the 2.0 TODO list. Reviewed, approved and merged.

[2019-10-01 17:41] markstos commented on #391
This was fixed today.

[2019-10-01 17:41] #391 closed

[2019-10-01 17:44] markstos commented on #337
That's pretty unwieldy. It seems a like a shortcut would be helpful. Further conversation about possibly adding that shortcut can continue in #393

[2019-10-01 17:45] markstos commented on #393
Seems like a reasonable request. A PR is welcome, or you can submit a proposed pseudo-code solution for review. You can access it indirectly now:

[code]

That's not particularly intuitive or readable.

[2019-10-01 17:47] markstos commented on #395
Sorry, no one is monitoring this issue tracker to answer questions. You can review the code and decide for yourself.

[2019-10-01 17:47] #395 closed

[2019-10-10 05:13] hare121 opened #403 "passport-saml callback is not working"
[code]

Please tell me why I am not able to access profile and why callback(profile ,done) is not working?

[2019-10-17 20:10] markstos commented on #393
Looks OK to me. I'll wait to see if others have feedback on the proposal. @sibelius @cjbarth @josecolella ?

[2019-10-17 20:14] markstos commented on #403
Support is not provided here. You can try StackOverflow with the `passport-saml` tag.

I can't help but notice that `erver.get('/chat'` looks like a typo, with a missing "s" in server.

[2019-10-17 20:14] #403 closed

[2019-10-18 18:38] cjbarth commented on #393
Is there a possibility that there might be several inResponseTo values for the different Subjects and associated confirmations? I'm out of town now on a phone, otherwise I'd check myself.

[2019-10-23 19:58] #386 closed

[2019-10-29 13:00] umardraz commented on #221
@jonathanpdiaz

I tried your solution here is my code

[code]
Now the problem is whenever I tried to logout from my Wordpres sites then on successful logout they always get **nodejs site /auth/saml/login page** rather then their own wordpress login page.

Would you please help me how I can fix this

[2019-11-05 13:36] vandernorth opened #405 "Azure ADFS doesn't sign on top-level but on Assertion level"
Hi,

After a few 'normal' windows server ADFS integrations with passport-saml I tried to implement Azure ADFS today, but something strange seems to happen.

On the callback URL I retrieve an XML in the following form:
[code]

In SAML.js in the `validateSignatureForCert` function I see the comment

Which I understand but doesn't seem to be valid for this SAML response. Should we allow just the asse

[2019-11-15 00:27] govindrai commented on #329
@markstos @jnardone

This is not possible if the assertion is signed, since `inResponseTo` is part of the payload. I think it's incorrect to not parse the incoming xml and validate the `inResponseTo` field if it's not present. In fact, even with idp initated flow, requests come in which a unique assertionId. Those should also be stored in the cacheProvider until the `NotOnOrAfter` to avoid replay

[2019-11-18 16:44] #393 closed

[2019-11-18 16:47] markstos commented on #405
The authority is the SAML spec. You can find the related documents here: http://saml.xml.org/saml-specifications Find the related section and quote it here. If we can be more spec-compliant, we are interested in a patch.

[2019-11-21 15:51] vandernorth commented on #405
Sound good! I've tried to look it up, and I think I've found it but I'm curious if you agree with me.

From https://www.oasis-open.org/committees/download.php/56776/sstc-saml-core-errata-2.0-wd-07.pdf

SAML assertions and protocol messages MUST supply a value for the ID attribute on the root element of
the assertion or protocol message being signed. The assertion’s or protocol message's root eleme

[2019-11-26 14:45] vandernorth commented on #405
Just found out that this library does support the mentioned SAML spec. First you check the top-level signature and if that's not found you do check if the assertion is signed and if that signature is correct.

Guess we're dealing with a configuration or certificate issue of some sort. Yet to figure that out, I'll comment here if I ever resolve this.

I will close this issue.

[2019-11-26 16:33] vandernorth commented on #405
Azure seems to have a new certificate they use to sign, but this certificate is not in the federation metadata. Haven't found a solution for that yet.

[2019-12-04 11:43] nikhil-cdac commented on #83
hi, I am also looking add signature to authn reauest rather than as query param. How did you solve it?

[2019-12-04 18:56] brandon-leapyear opened #406 "Support for AttributeConsumingService"
Hi, is there a way to configure `<md:AttributeConsumingService>` with this library? Or do attribute requirements have to be communicated out-of-band to the IdP?

https://en.wikipedia.org/wiki/SAML_Metadata#Service_Provider_Metadata

[2019-12-04 19:25] mightypenguin commented on #373
Can we also support configuration using metadata? (dynamically loaded via URL)
See Ruby Saml module for an example:
https://github.com/onelogin/ruby-saml#metadata-based-configuration

This is especially useful for me as the cert updates then happen automatically as soon as they are pushed to the updated IDP XML.

[2019-12-10 01:41] matiasdecarli commented on #83
Sorry, man. This was 4 years ago, impossible to remember

[2019-12-10 07:24] hagis commented on #196
We also need this fixed. Please review and merge the PR.

[2020-01-10 13:26] kvanrobbroeck opened #410 "Documentation error for 'host' parameter"
Hello,

Documentation here: http://www.passportjs.org/packages/passport-saml/

States that for the `host` property:

But in reality, it seems to default to the value of `Host` header (which, when developing locally, tends to be localhost(:port). (this is fine).

[2020-01-10 16:02] kvanrobbroeck commented on #410
Created a PR with proposed fix: https://github.com/bergie/passport-saml/pull/411

[2020-01-14 22:45] crutley commented on #336
I am certainly not an expert, but it seems to me that the **HTTP-POST** highlighted in the example describes what binding the service provider (passport-saml) is expecting for the SAML response from the identity provider.  I don't think it has anything to do with the authnRequestBinding parameter, which determines the binding type for the AuthnRequest.

From the SAML spec, "3.4.1 Element <AuthnReq

[2020-01-17 22:20] crutley commented on #206
Updating here to say that PR #207 was just rebased against master by @richardTowers, had a change to improve spec compliance, and was successfully tested against my company's PingFederate server.

[2020-01-20 19:55] markstos commented on #338
This was merged in https://github.com/bergie/passport-saml/pull/375 Closing.

[2020-01-20 19:55] #338 closed

[2020-01-20 20:00] markstos commented on #329
@govindrai You make a good case. Would you consider making a pull request for the changes?

How would you handle the fact that validateInResponseTo currently accepts true and false, but you propose that it accept some specific strings?

[2020-01-20 21:28] markstos commented on #373
@mightypenguin That's a welcome feature and one that my company has implemented in our code base. For a version to be included in passport-saml, I'd like a solution that's resistant to the remote URLs not being constantly available. For example, it would include a cache mechanism to fall back on and possibly a retry algorithm to recover from temporary outages. Open an Issue or PR if you want to wo

[2020-01-20 21:43] markstos commented on #206
I believe this is addressed by #207, so closing.

[2020-01-20 21:43] #206 closed

[2020-01-20 22:32] markstos commented on #406
When I use Github search to search the code for "AttributeConsumingService", I get back no results, so I'm guessing the answer is "not currently". If it makes the project more spec-compliant, a pull request is welcome. It should include updating the documentation, adding test coverage, references to the part of the spec being implemented and ideally some peer review.

[2020-01-20 22:33] markstos commented on #376
Sorry, there's no bandwidth to answer support requests here. You can try StackOverflow with the passport-saml tag.

[2020-01-20 22:33] #376 closed

[2020-01-21 05:15] mileacolaco opened #413 ""InResponseTo is not valid" error thrown when using connect-memcached as the session store shared with multiple servers and a load balancer with no sticky"
Hi,

Our application is using passport-saml 1.0.0 for our SSO login and we are currently facing an issue when using multiple node servers having a load balancer (with no sticky session) and a central memcached session store shared by the multiple servers.

We have the **validateInResponseTo** option of the passport-saml config set to true.

Following error is thrown on the nodeJs console logs
**Er

[2020-01-21 16:27] #196 closed

[2020-01-23 16:11] gunzip opened #415 "Uncatchable exception when parsing entryPoint"
In a MultiStrategy, `getSamlOptions` may not find a suitable entrypoint to pass to the saml client
so we end up with entryPoint = undefined. This causes the NodeJS process to crash since these lines here: https://github.com/bergie/passport-saml/blob/master/lib/passport-saml/saml.js#L307
contain an uncheck call to `url.parse` which throws since entryPoint is not defined. As we are in a callback the

[2020-01-23 16:44] markstos commented on #413
Sorry, there is volunteer bandwidth for support requests. You can try StackOverflow with the passport-saml tag.  If you can reproduce this is a bug in passport-saml and not in your environment or configuration, please re-open .

[2020-01-23 16:44] #413 closed

[2020-01-23 16:45] markstos commented on #415
@gunzip Are you willing to contribute a pull request to improve this?  Thanks for the report.

[2020-01-24 18:01] cjbarth commented on #358
@gavinbelson I'm not sure what part of the documentation you're referring to. The documentation for MultiSamlStrategy seems good to me: https://github.com/bergie/passport-saml#configure-strategy-for-multiple-providers. It matches what @stavros-wb suggested.

[2020-01-24 18:03] cjbarth commented on #378
@neemah Is there still something outstanding here, or can this issue be closed?

[2020-01-24 18:07] cjbarth commented on #348
@matthewaveryusa I try to keep the types for `passport-saml` over at https://github.com/DefinitelyTyped/DefinitelyTyped up to date. It is from there that the `@types` packages get published. If there is an update needed, please follow their process for making the update. Don't hesitate to add your name to the maintainer of the types if you'd like. I'll end up getting pinged when you make your PR b

[2020-01-24 18:16] cjbarth commented on #325
Since `xml-encryption` just released an update to allow disabling insecure algorithms, did we want to take that update and, in the interest of security, set that option to always disallow? It seems we may need to add a new config option to support this, unless, again, in the interest of security, we don't let that option be configurable?

I recognize that such a change would probably be a major ve

[2020-01-24 18:32] cjbarth commented on #296
@markstos Is this still an open issue?

[2020-01-24 18:52] gavinbelson commented on #358
@cjbarth  I added a PR to add @stavros-wb 's suggestion to the README

[2020-01-24 19:44] markstos commented on #325
Yes, let's upgrade, do a major version bump and drop support for the
insecure algorithms.

It would be nice if we could generate some logging or exceptions if
insecure  algorithms are attempted to be used, so people can discover if
some integration was broken by the update.

We could add in the diagnostics before the major version bump so people can
put the code into production and see if their cu

[2020-01-24 19:46] cjbarth commented on #325
Adding diagnostics before the major version bump might be tricky since the library doesn't seem to support that, but I can see what I can do.

Would you be OK with skipping that step since it will otherwise be a major version bump?

[2020-01-24 19:50] markstos commented on #296
Yes, we still have the "delete options.name" line.

I think the solution at this point is to clone `options` so we are deleting from a copy of the object and don't have  a pass-by-reference bug. It would also be good to add an automated test for the bug.

Should be a small task.

[2020-01-24 19:51] cjbarth commented on #296
I thought that we were going to remove that line based on the last discussion on this matter. Have I missed something?

[2020-01-24 19:53] markstos commented on #325
Yes, but how will know if my dozens of integrations will break if I upgrade? :slightly_smiling_face:

A lot of my integrations are "production only" because the IdPs don't provide staging servers.

I'll have to read more about how to detect if insecure algorithms are in use.

[2020-01-24 19:57] markstos commented on #296
I looked again at the commit where I added the line:

https://github.com/bergie/passport-saml/commit/6e2418bae01b98dc982a3d37a543ef7ea079fd76

I think you are right-- I think we just don't need the line and removing the "delete" line would be considered a bug fix. I'll do that now.

[2020-01-24 19:58] #296 closed

[2020-01-24 19:59] cjbarth commented on #325
Yea, that is a real consideration. LMK if you find anything. I'll see if I can look too.

[2020-01-24 20:59] cjbarth commented on #325
I think we can just call `decrypt` and catch if an error is throw and log that for the "warning".

https://github.com/auth0/node-xml-encryption/blob/4625cc34f3870a0ac8bd0aafb651cb501c7cf7ff/lib/xmlenc.js#L167

How did you want to see a warning? Just a `console.log`?

[2020-01-24 21:52] markstos commented on #325
console.warn, which goes to STDERR instead of STDOUT.

On Fri, Jan 24, 2020 at 3:59 PM Chris Barth <notifications@github.com>
wrote:

--
    Mark Stosberg
    Director of Systems and Security
    RideAmigos

[2020-01-28 17:01] cjbarth commented on #325
I have a branch for this, but I'm waiting on some fixes from this PR: https://github.com/auth0/node-xml-encryption/pull/64.

[2020-01-28 21:45] #378 closed

[2020-01-28 21:47] markstos commented on #358
Related PR was merged.

[2020-01-28 21:47] #358 closed

[2020-01-28 21:49] markstos commented on #410
I'm closing this, as related discussion can continue in the related PR #411.

[2020-01-28 21:49] #410 closed

[2020-02-02 17:56] srd90 opened #419 "passport-saml's IdP initiated LogoutRequest handling doesn't always close sessions"
It's possible that `passport-saml` responds to IdP initiated logout request that sessions are closed even though sessions are still alive. This can happen at least in following situation:

1. end user has blocked third party cookies
1. SAML IdP is at another top level domain than SAML SP (passport-saml) application. Ie. SAML SP site is "third party site" from browsers' cookie handling point of vie

[2020-02-06 17:30] markstos commented on #419
Thanks for the detailed report.

[2020-02-06 19:12] markstos commented on #419
@srd90 You have a clear understanding of the issue. Are you willing to submit a patch for it?

[2020-02-06 19:26] markstos commented on #325
The PR referenced just above was merged.

I opened another one in xml-encryption to ask _them_ start logging if insecure algorithms are used. Having a option to issue warnings would allow people to upgrade with confidence knowing that they weren't accidentally depending on insecure algorithms.

https://github.com/auth0/node-xml-encryption/issues/66

[2020-02-06 19:27] markstos commented on #206
A new release of passport-saml today includes this change.

[2020-02-06 21:56] cjbarth commented on #325
In that case, would you like to just hold off on us doing something until they comment on your open issue?

[2020-02-07 11:16] markstos commented on #325
Yes.

On Thu, Feb 6, 2020, 4:56 PM Chris Barth <notifications@github.com> wrote:

[2020-02-09 18:32] srd90 commented on #419
Original issue description talked about combination where end user has explicitly blocked third party cookies and certain IdP setups (iframe based SLO propagation) in cross-domain IdP initiated SLO situation.

IMHO upcoming change where browser vendors start to apply samesite lax cookie policy by default (https://www.chromestatus.com/feature/5088147346030592) breaks also those cross-domain SLO sce

[2020-02-12 11:06] madtaras commented on #198
@jherault what's the problem with testing locally?
Will ngrok help testing locally?

[2020-02-13 08:59] DORRITO commented on #128
Hello!  If anyone is using express 5, since body parser isn't needed, simply make sure the `app.use(express.urlencoded({ extended: false }));` **_before_** the route calls.

Many thanks to kashiif and makstos above for leading me down that path.  Immense Thanks!

[2020-02-13 11:19] markstos commented on #128
@DORRITO Please submit a doc-patch for the Express 5 example syntax.

[2020-02-19 14:54] markstos commented on #419
I affirm that other SAML projects are also discussing the impact of Chrome's M80 release and "SameSite=None" cookies on SLO. Here's a description of the issue on the Shibboleth wiki:

https://wiki.shibboleth.net/confluence/display/DEV/IdP+SameSite+Testing#IdPSameSiteTesting-SameSiteandSingleLogout

[2020-02-25 13:55] L-Luciano opened #424 "[BUG] authenticate"
If options is undefined, the authenticate function send an error :
TypeError: Cannot read property 'samlFallback' of undefined

Expected :
the 'login-request' must be setted.

[2020-02-25 17:10] gunzip opened #425 "[BUG] multi-saml strategy cannot be used by concurrent requests"
It looks like Multisaml strategy (which is a singleton object) calls override the shared property  `this._saml`: https://github.com/bergie/passport-saml/blob/master/multiSamlStrategy.js#L34
In case of concurrent HTTP calls is there any chance that this value gets overridden by a subsequent call ?

cc @stavros-wb

[2020-02-26 09:35] stavros-wb commented on #425
Yes.. 😔 We should do something like:
[code]

The tricky part here is, we can't instantiate N strategies, cause they all get registered in passport and can override each other there. We only want to have the `_saml` property change dynamically and reuse the same methods for the rest of the calls.

[2020-02-26 10:01] gunzip commented on #425
Do you think this can be considered more a bug or a vulnerability ? I see at least the chance of a DoS (making fast calls to the login endpoint that override the saml client options for previous requests).

Anyway the MultiSamlStrategy as is **should not be used in production**, so I wonder if it's better to get rid of the modue entirely to discourage unsecure setups.

About using multiple passpor

[2020-02-26 18:12] oversio commented on #176
Hi guys! could you tell me what is the value for ``` req.user ``` ? please! I'm getting this error in the browser...

[code]

[2020-02-28 07:12] earllapura commented on #381
Any update on this?

[2020-03-16 12:55] meetSuraj commented on #137
Wont this be solved by recipient?

[2020-03-24 01:48] srd90 commented on #419
IMHO wiki entry you referenced says: ShibbolethSP's SLO is unaffected of samesite change because it doesn't use/require cookies during SLO processing. It uses information from logout request (nameid) to invalidate login session managed by ShibbolethSP's own sessionmanagement.

If appliction which sits behind ShibbolethSP rely only on ShibbolethSP's session management and shibd is used in ”active m

[2020-03-26 16:04] markstos opened #429 "better integration with xml-encryption 1.1.0 release"
I'd like to address multiple issues with our relationship with the xml-encryption package:

 1. xml-encryption 1.0 disabled some insecure algorithms. By extension we did too. But they expose an option to re-enable the insecure algorithms if you need them. Maybe we should to.
 2. xml-encryption 1.1.0 offers an option to warn if there are insecure algorithms. By combining this option with the one ab

[2020-04-05 11:50] TomasSchlepers opened #430 "ADFS SingleLogOut hangs on first application"
Hi there,

I did not know where to go next so I'm going to post my issue here, as I've already seen some related issues on this matter. Unfortunately the solutions provided did not work in my case, and I do not know what to try more.

So some background: I have a NodeJS/ExpressJS/passport-saml application that authenticates against an ADFS system. The SSO part of the matter works perfectly, but I

[2020-04-09 09:20] meetSuraj commented on #281
@markstos Can you tell me how is this security vulnerability, as suppose response signature is invalid, but assertion signature is valid, the main data is anyway in assertion, so how is it impacting security?

[2020-04-15 12:58] mightypenguin opened #431 ""invalid signature" when using xml-crypto > 1.4.0"
Not sure why, but xml-crypto > 1.4.0 gives me an invalid signature.
Fix is to force xml-crypto to v1.4.0

But perhaps there's something programmatic that needs to change in how passport-saml is using it?

[2020-04-15 12:58] mightypenguin commented on #431
Possibly related bug report on that package.

https://github.com/yaronn/xml-crypto/issues/200

[2020-04-15 18:23] mcwhittemore commented on #281
The issuer is duplicated between the assertion and the response so if an SP is using the issuer from the response to do some action they can be using a value that was not provided by the IDP. Any other field that is in both places could have this problem as well.

[2020-04-17 09:54] Amanuv19 commented on #62
FAcing the same error. Can anyone help

[2020-04-25 14:00] ef2e2f2e opened #433 "Add attribute NameQuaifier in Issuer tag"
My government idp requires some parameters to Issuer.
<saml:Issuer  Format="urn:oasis:names:tc:SAML:2.0:nameid-format:entity" NameQualifier="..."> https://mydomainSp/sp
The same thing for NameIDPolicy <samlp:NameIDPolicy AllowCreate="1" Format="urn:oasis:names:tc:SAML:2.0:nameid-format:transient"

Is it possible to add attributes in this tags?

[2020-05-11 13:42] uttamraj-pando commented on #185
To give more info:

- The certificated download from azure active directory has the extension .cer
- passport-saml needs value from a file with .pem extension
- .cer can be converted into .pem file using the below command
 ` openssl x509 -inform der -in my_certificate.cer -out my_certificate.pem`
- After converting the file to .pem format, open the file and follow below instructions

The "BEGIN CE

[2020-05-15 10:56] thenengah commented on #431
@mightypenguin

We also ran into this. I submitted a fix of it here:
https://github.com/yaronn/xml-crypto/pull/211

But the xml-crypto team thinks this update doesn't belong in xml-crypto.

@bergie what are your thoughts about normalizing line-breaks before `checkSignature`. Something like this should work:
[code]

[2020-05-16 23:08] duxing commented on #128
another victim who wastes days here. Thanks for sharing this and saving my life @jrop

[2020-05-26 06:25] stevenmasci opened #437 "MultiSamlStrategy with generateServiceProviderMetadata usage"
Hi, I was able to use _SamlStrategy_ and _generateServiceProviderMetadata()_ with no problem. When I changed to _MultiSamlStrategy_ I am now unable to get _generateServiceProviderMetadata()_ to work. It is returning undefined.

I am not sure how to correctly use _generateServiceProviderMetadata()_ with _MultiSamlStrategy_.

Note: simplified example
[code]

[code]

Where am I going wrong? Thank you

[2020-05-26 07:59] stavros-wb commented on #437
I think you should pass a callback as the last argument instead of next, something like
[code]

[2020-05-26 08:44] stevenmasci commented on #437
Yes you're right. Thank you!

[2020-05-26 08:47] #437 closed

[2020-05-27 04:55] stevenmasci commented on #336
I am also having this issues. The HTTP Binding for SAML responses cannot be configured as it is hardcoded (to HTTP-POST).

[2020-06-02 07:12] stevenmasci opened #438 "InResponseTo validation fails for response type LogoutResponse"
When performing a logout action the logout consumer callback receives a `LogoutResponse` from the IDP.
If `validateInResponseTo` is enabled then an error will be thrown:
[code]
It appears the reason for this is within the `SAML.prototype.validatePostResponse` function, specifically when extracting the InResponseTo value from the response xml.
[code]
Since it is a logout response the xml object nam

[2020-06-08 13:20] techtutorials commented on #272
Thanks much. Your solution helped me.

[2020-06-15 23:27] catamphetamine opened #439 "Getting `issuer` in `getSamlOptions(request)` of `MultiSamlStrategy`"
Currently, there's `MultiSamlStrategy` with `getSamlOptions(request)`.
The `request` is a generic Node.js HTTP `IncomingMessage`.
But why is it the only argument of `getSamlOptions()`?
Isn't the point of `MultiSamlStrategy` existing to choose SAML config based on which SAML server requests authentication?
If yes, then why isn't `issuer` available in `getSamlOptions()`?.
Currently, we had to work a

[2020-06-16 08:06] stavros-wb commented on #439
The method is called before SAML instantiation, so all the parsing/decrypting and (get kind of request) are not yet available. It's up to the user to select the appropriate configuration based on the request object. Which could be what you've implemented (perfectly fine) or something even simpler like, the actual URL. What we do is have different endpoints per IDP so we can fetch the configuration

[2020-06-18 20:15] zoellner commented on #373
What's the latest on splitting the repos? I'd be interested in that since I have a project that could make use of the saml lib but has no need for the passport pieces.
If the general idea is this I can do that next week:
1. start an org
2. fork this repo
3. remove all the passport related code
4. publish new repo to npm
5. add PR to this repo to require the new lib-repo

What I'd need some guidanc

[2020-06-21 15:04] catamphetamine commented on #439
Ok, so the reason `Issuer` is not available is because it's not verified.
I don't think that could be a valid reason but whatever, I have my ways of obtaining it, and that works.

[2020-06-25 16:04] markstos commented on #373
@zoellner Sorry for the delay. I see you've started on the work already here: https://github.com/zoellner/node-saml/commits/master

There hasn't been much progress. I'm afraid I've been a bit of a bottleneck as one of the only admins of this repo.The original author is not active and I'm just another library user who stepped up to help and was granted commit access.

However, I don't have time to

[2020-06-25 16:44] zoellner commented on #373
Totally understand. The library is coming along well. For now I've done some refactoring but not functional changes. I'm keeping v1 backwards compatible, so that could be a drop in replacement for the embedded one in this repo.

I do plan to eventually reorganize things a bit into a v2 (and convert more callbacks to async functions) at which point passport-saml would need a tiny wrapper or change

[2020-06-25 18:30] markstos commented on #373
I'm interested in breaking changes to convert callback APIs to async/promise APIs as well, so don't hold back on those.

I don't use the library with `passport` myself anyway.

[2020-07-01 14:34] markstos commented on #373
@zoellner Please email me at mark@rideamigos.com for a direct collaboration conversation. Thanks!

[2020-07-18 13:09] venkas01 opened #441 "how to get metadata..?"
hi,

i have defined the route as

  app.get(
    '/metadata',
    function(req, res) {
        res.type('application/xml');
        res.send((Passport.generateServiceProviderMetadata(config.passport.decryptionPvk)));
    }
);

when i try to access i get the below error.  Please help.

TypeError: Passport.generateServiceProviderMetadata is not a function

[2020-07-18 13:23] #441 closed

[2020-07-22 14:25] markstos opened #442 "NOTE: This project has moved. This issue tracker is not monitored."
This project has moved to https://github.com/node-saml/passport-saml

All issues that were present here at the time of transfer were moved.

Unfortunately, the active maintainers here don't have permission to set this repo to "archive mode" to make it read-only and prevent new issues from being created here.

Issues here may not be monitored and may not receive replies.

[2020-07-22 21:57] thcase opened #443 "generateServiceProviderMetadata missing SOAP Logout option"
There are three logout methods for SAML (HTTP-REDIRECT, HTTP-POST, and SOAP).  The generateServiceProviderMetadata doesn't support generating the SOAP logout callback.  Suggest adding a property called something like "logoutSOAPCallbackUrl" and then adding something similar after the logoutCallbackURL option check in the saml.js (currently lines 1273-1278).

[code]

For now, if this was in the pro

[2020-07-22 22:02] thcase commented on #443
For background, I am working on project interfacing with Cerner EHR that still uses SOAP for SP initiated connections (ref: [https://dev.cernerhealth.com/doc/api/oauth/sign-in-with-cerner-health-saml](https://dev.cernerhealth.com/doc/api/oauth/sign-in-with-cerner-health-saml)).

[2020-07-22 22:26] thcase commented on #443
Actually just saw this pull request, which may meet the same need, w/o need of additional option variable.

[https://github.com/node-saml/passport-saml/pull/440/commits/d730c3b47bbfed3b2d5672fac72b3844e08a480b](https://github.com/node-saml/passport-saml/pull/440/commits/d730c3b47bbfed3b2d5672fac72b3844e08a480b)

[2020-08-10 21:02] asaheba93 opened #444 "Option to have multiple keys in decryptionPvk"
Currently, there is a client and server setup, where the server will be transitioning from an expiring certificate to a new certificate.

I have received the XML metadata of the server and configured passport-saml on the client for which this metadata is stored in the certs option as an array.
Ex:
certs: [
'cert1',
'cert2']

The client (SP) cannot decrypt the encrypted asssertion from the IDP and

[2020-08-16 08:18] PaulaSazonov opened #445 "Logout response to idP initiated SLO"
How to return a logout response to a logout request from idP? I have an idP that requires this as part of the SLO process, and after multiple attempts and going through the source code and documentation, I have not found out how to do this. Any advice would be much appreciated!

[2020-08-16 09:57] srd90 commented on #445
passport-saml's incoming LogoutRequest handling implementation is not spec compliant (it is unable to terminate SP side session using only information provided in LogoutRequest).
Furthermore it may leave SP side sessions open (if IdP and SP are at different domains and if/when webapplication's session cookie is not delivered due various reasons to webapplication) EVEN THOUGH  it shall always repor

[2020-08-19 06:00] PaulaSazonov commented on #445
Thank you @srd90 for the insight, much appreciated! Still have not managed to produce a working solution, but it is good to know if the library's implementation is not spec compliant. Also have tried suggestions provided in issue #221, but to no success. Would be great if the documentation offered some more information on the logout process!

[2020-08-25 08:01] mans0954 commented on #442
Can the issue be unpinned as well, please?

[2020-08-26 11:10] mans0954 commented on #245
[saml-core-2.0-os](http://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf) Section 2.7.3.1.1 says
[code]
It doesn't, as far as I can see, specify any particular interpretation of XML appearing in an AttributeValue, even if it itself is a valid SAML fragment.

I note that the latest [eduPerson schema](https://wiki.refeds.org/display/STAN/eduPerson+2020-01#eduPerson2020-01-eduPersonTarge

[2020-08-26 16:06] mans0954 commented on #245
Just to further muddy the waters, I've suggested a third PR for solving this #447. Since the SAML specification allows any well formed XML to form the content of an AttributeValue, it seems to me that the correct response is to return that XML (or rather an object parsed from it) as the value of the attribute.

Much as I'm a fan of `eduPerson`, as I understand it `passport-saml` is targeting the S

[2020-08-27 07:08] PaulaSazonov commented on #445
I was able to solve my problem returning a LogoutResponse, and thought I'd share in case someone else is struggling with the same thing: I had configured my strategy `authnRequestBinding: 'HTTP-POST'` and `skipRequestCompression: true`, and this caused issues with the redirect endpoints (including a problem with `strategy.logout()`). Using a strategy without these flags set solved these issues, an

[2020-09-03 14:16] #245 closed

[2020-09-03 16:18] cking285 opened #450 "Renewing session with IsPassive"
Is there any example anywhere of how to configure this module to renew/check that a session is still valid with the IDP using the IsPassive parameter in the SAML AuthnRequest?

It would be ideal if `passport-saml` could be configured as middleware to renew the users session with the IDP upon each request.

[2020-09-11 15:45] thcase opened #452 "SAML.prototype.validatePostRequest issues"
I ran into issue when working with the library concerning the `saml.js` library method `SAML.prototype.validatePostRequest` method.  Line 1091 assumes the input to the function to be Base64 encoded:

[code]

In the POST request I am working with that comes from Cerner's Patient Portal, which uses python SAML library, the request is in plaintext.  An option may need to be added and check here for f

[2020-09-11 15:52] thcase opened #453 "wish: accept uppercase LogoutRequest and Issue"
In working with Cerner's Patient Portal SAML based IDP (python library based), a couple of the fields in the request that the `saml.js` **processValidlySignedRequest** (line 1162) utilizes assumes Pascal Case, where they came across as all UpperCase.  The two fields are:

* LogoutRequest
* Issuer

There are on lines 1163 and 1171, respectively.

Recommend that an `|| <uppercase version of variable

[2020-09-11 16:09] thcase opened #454 "Additions to handle SOAP based Logout Responses"
In working with a  SAML IDP provider that uses SOAP based SLO,  most of the library works fine with a few tweaks that I have identified in other methods.  Most of the library works fine with the SOAP, what I had to do, however is the following changes, which I recommend additional methods or revising existing methods to handle SOAP Logout Responses possibly be considered.

1. To extract the Logout

[2020-09-16 00:52] govindrai commented on #137
Hi! Any update on this?

[2020-09-16 15:09] markstos commented on #445
Closing as dupe of #419.

[2020-09-16 15:09] #445 closed

[2020-09-16 15:12] markstos commented on #450
I'm sorry, there aren't resources here for support questions. If you are certain there's a bug or a missing feature according to the spec, please open a new issue. Thanks.

[2020-09-16 15:12] #450 closed

[2020-09-16 15:21] markstos commented on #452
Please reference what the SAML spec says what the encoding should be here.

[2020-09-16 15:22] markstos commented on #453
Please reference what the SAML spec says regarding case handling here.

[2020-09-16 15:23] markstos commented on #454
Please reference what the SAML spec says regarding these cases.

[2020-09-16 15:34] thcase commented on #452
I am not sure if [this](http://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf) is the proper specification.  The SOAP Binding Protocol is specified in section 3.2.  The XML is in plain text as opposed to HTTP-POST where the XML appears to be Base64 encoded (section 3.5).  The SLO callback via SOAP is an HTTP POST call that happens with the IDP notifies SP that it has received a lo

[2020-09-16 15:36] thcase commented on #454
The SAML Specification (I believe it is [this](http://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf) covers SOAP bindings in section 3.2. The ns0: prefix appears to be specific to the vendor I am dealing with. The main point is within the SOAP body is the standard SAML LogoutRequest (in plain text).

[2020-09-16 16:02] thcase commented on #453
I think what you have is per specification from what I see in the SAML 2.0 spec. I am not sure if something is happening in the conversion to JS Doc in the process.  The IDP Provider I am working with (Cerner) has on their [sample spec](https://dev.cernerhealth.com/doc/api/oauth/sign-in-with-cerner-health-saml) in the same format that is coded (e.g., LogoutRequest and Issuer).  However, I run into

[2020-09-16 18:57] srd90 commented on #454
First of all title of the issue speaks about handling LogoutResponses but text part is all about processing LogoutRequest (sent by IdP to SP).

I assume that you are speaking handling of incoming (from SP point of view) LogoutRequests over SOAP and sending LogoutResponses over SOAP to request initiator.

Furthermore it seems that you are suggesting that implementation of `validatePostRequest` meth

[2020-09-16 19:12] thcase commented on #454
I think you have captured what I am requesting.  The current implementation doesn't handle SOAP for SLO, yet SOAP is in the specification.  As far as not handling either HTTP-POST or SOAP based POSTS logout requests initiated by the IDP, I don't know as if that is really a function of the strategy (forgive me if I am new to Passport in general).  The issue is the Strategy doesn't have any direct t

[2020-09-18 14:33] mans0954 commented on #145
Closing as implementing an IdP is out of scope for this project.

[2020-09-18 14:33] #145 closed

[2020-09-18 14:33] mans0954 commented on #184
Closing as implementing an IdP is out of scope for this project.

[2020-09-18 14:33] #184 closed

[2020-09-19 16:17] cjbarth commented on #425
Given that a PR was merged to address this, is there more work associated with this, or can it be closed?

[2020-09-21 05:06] yj188 opened #456 ""invalid signature" after updating passport saml"
passport saml version: 1.1.0 --> 1.3.5
xml-crypto: 1.4.0 --> 1.5.3
xml-encryption: 0.11.2 ->1.2.1

Error: Invalid signature
    at /var/task/node_modules/passport-saml/lib/passport-saml/saml.js:611:15
    at _fulfilled (/var/task/node_modules/q/q.js:854:54)
    at /var/task/node_modules/q/q.js:883:30
    at Promise.promise.promiseDispatch (/var/task/node_modules/q/q.js:816:13)
    at /var/task/nod

[2020-09-21 10:30] yj188 commented on #456
Update xml-crypto back to 1.4.0 resolve the issue

[2020-09-21 12:28] cjbarth commented on #456
Was a corresponding bug filed with `xml-crypto` to get this resolved? I hate to just leave us stuck on v1.4.0.

[2020-09-25 05:52] liweixi100 opened #458 "Unexpected openssl exception while calling signRequest"
I am stuck with the following error and would appreciate any help.

[code]
`

* Extensive google search did not reveal anything helpful.
* There was no file to open since the `SAML.signRequest` API takes a key (string).
* I have verified the `privateCert` passed to `signRequest` was in the required multiline RSA format (through logging).
* This exception only occurs in our production environment b

[2020-09-25 19:57] damien-git opened #459 "[BUG] Regression between 1.2.0 and 1.3.5 for undefined values"
When the IdP sends the following attribute description:
[code]
With passport-saml 1.2.0 I get the value: `undefined` for `profile.attributeName`, as I expect. But with passport-saml 1.3.5, I get this object instead:
[code]

Was that change intended, or is it a bug ? It sure broke my application when I updated passport-saml to avoid a security issue, as I did not expect to get something like that..

[2020-09-25 20:04] damien-git commented on #459
Possibly related: #447

[2020-09-25 21:45] cjbarth commented on #459
This is an interesting one. The metadata is returned, which is potentially valuable, but the metadata says that the returned type is a string, so we would expect non-breaking behavior here. I believe this was an unexpected side-effect and indeed a regression in this case. The problem is that there is in fact a `_` object, it just happens to be `undefined`. The previous fix was too simplistic.

Wou

[2020-09-25 22:01] cjbarth commented on #458
Without tracing through the code myself to see how one might arrive at this code, and without the config file as a sample, there isn't much to say. However, in the past, when I've had issues like this, what stands out to me is that the exception occurs only in production not development, in which case two things come to mind:

1. Incomplete deployment; some of the errors in this code don't pop up

[2020-09-28 12:16] damien-git commented on #459
Something like that ? I didn't test it.
[code]

[2020-09-28 13:06] cjbarth commented on #459
@damien-git I think that reasonably captures the problem (without testing it myself). @mans0954 , would you be in a position to modify your previous fix to account for this test?

[2020-09-28 20:42] cjbarth commented on #169
I believe there may be more at play here than it first appears. I would expect in the case of @theaccordance use-case, that you'd have another federation or a redirection in order to handle the different domains. It seems that it would actually be undesirable to be able to configure things in such a way as to allow piggy-backing on another federation; it might even be considered a security issue (

[2020-09-28 23:52] liweixi100 commented on #458
This turned out to be an issue with our own node build. We don't known what went wrong exactly, but the issue has nothing to do with passport-saml.

[2020-09-28 23:52] #458 closed

[2020-10-07 19:13] markstos commented on #452
I'm OK with supporting the requested flexibility as well as the current behavior remains the default.

 * Strict parsing seems like safer default
 * From your reading of the spec, it seems like base64 is also a spec-compliant choice.

A pull request to implement this should also update the docs and ideally the tests as well.

[2020-10-07 19:18] markstos commented on #453
I'm not enthusiastic about this change, as it appears we already spec compliant.

The one variation I would be willing to support would be one where the default behavior remains the stricter current behavior, and an option enabled the parsing of the all-caps variable, and the related docs noted that the option was for dealing with non-spec-compliant IdPs.

[2020-10-07 19:34] markstos commented on #454
@thcase I'm open to PRs here, but don't have specific suggestions for the design. I recommend submitting a PR for further discussion. Help looking at #419 is welcome as well.

[2020-10-07 19:35] #425 closed

[2020-10-07 19:38] markstos commented on #456
@cjbarth There are newer releases of xml-crypto out. Could test an upgrade with them? 1.5.3 or 2.0.0. The 2.0.0 release addresses some security concerns but is a breaking change.

[2020-10-07 19:44] markstos commented on #459
I followed up with @mans0954 today to nudge him on this.

[2020-10-07 19:54] markstos commented on #169
@cjbarth I'm OK with adding a check to see if `options.host` matches `req.headers.host`, or drop considering `req.headers.host` completely-- the less user input we trust, the better.

[2020-10-07 20:04] cjbarth commented on #456
@yj188 Could you please provide a reproduction for the error you encountered? Ideally, it would be nice to have a test added that would pass with v1.4.0 and fail with v1.5.3.

[2020-10-07 20:08] cjbarth commented on #453
I would recommend that a bug be submitted to Cerner's Patient Portal SAML based IDP to get them to emit the correct casing. This isn't a problem with `passport-saml`. @thcase could you do that and link that bug report here for reference?

[2020-10-07 21:15] markstos commented on #453
I don't think there's a public bug tracker for that closed source
commercial service.  But I agree with the sentiment that they should take
some responsibility here.

On Wed, Oct 7, 2020 at 4:08 PM Chris Barth <notifications@github.com> wrote:

--
    Mark Stosberg
    Director of Systems and Security
    RideAmigos

[2020-10-08 08:02] Harsha3878 commented on #456
passport saml version: 1.3.4 --> 1.3.5
xml-crypto: 1.4.0
xml-encryption: 1.2.1

Error: Invalid signature
   \node_modules\passport-saml\lib\passport-saml\saml.js:611:15
    node_modules\q\q.js:854:54)
    node_modules\q\q.js:883:30
    at Promise.promise.promiseDispatch (\node_modules\q\q.js:816:13)
    at node_modules\q\q.js:624:44
    at runSingle (\node_modules\q\q.js:137:13)
    at flush (\nod

[2020-10-08 10:37] mans0954 commented on #459
Sorry, I missed this before. Will take a look.

[2020-10-08 11:10] mans0954 commented on #459
That test passes for me:
[code]

[2020-10-08 12:57] mans0954 commented on #459
I think the assertion should be:
[code]

[2020-10-08 14:05] mans0954 commented on #459
Looking at the [previous implementation ](https://github.com/node-saml/passport-saml/blame/bb025e645ecc7d9b78963e7f807ee90544be5f9a/lib/passport-saml/saml.js#L1011)
[code]
There seems to me to be something flawed about this, as, as far as I can see, the type of `value` will always be `object`, in which case it is always `value._` which is returned. This is the case for every test that we have. Thi

[2020-10-08 17:58] cjbarth commented on #459
@mans0954 , that is why, when I looked at the patch to this code, it seemed to make sense to me because the existing implementation just didn't. However, we still need to account for the fact that, when possible, we should return a string instead of the object that we parse out. Really, both the old and current logic are too simple to catch the three cases we're working with here: `undefined`, `st

[2020-10-08 17:59] cjbarth commented on #456
@Harsha3878 , are you saying that v1.3.4 works, but v1.3.5 fails with the current test suite?

[2020-10-08 18:33] mans0954 commented on #459
Started working on this here: https://github.com/node-saml/passport-saml/tree/csh-issue-459-attr-value-regression - will try to pick it up again tomorrow if I can. My next step is to understand xml2js a bit better to see if there's a reliable way to distinguish between the three cases @cjbarth mentions.

[2020-10-08 19:23] srd90 commented on #137
@markstos isn't this issue already fixed?
First pull request seems to be #138 which was later closed in favor of #253

[2020-10-09 03:57] Harsha3878 commented on #456
@cjbarth No i tried both the version but it failed with both intial version i was using was 0.15.0

[2020-10-09 11:21] mans0954 commented on #459
Actually, I think there are 4 cases - one might have both a string and child elements (at least in a general XML document) e.g. the following is valid XML:
[code]
Presumably in this case we would want to return the object rather than just a string?

[2020-10-09 15:42] cjbarth commented on #459
@mans0954 , I would expect in that case ([Mixed Content](https://www.w3.org/TR/2008/REC-xml-20081126/#sec-mixed-content)) there would be an object returned. It would only be possible to return a string if the `<saml2:AttributeValue>` had only [Character Data](https://www.w3.org/TR/2008/REC-xml-20081126/#dt-chardata) content. If it had [Empty](https://www.w3.org/TR/2008/REC-xml-20081126/#dt-empty)

[2020-10-09 23:07] MoreSaltMoreLemon commented on #380
I am also running into a need for the ability to control the `AssertionConsumerServiceIndex` property.

I'm interfacing with an Okta SAML endpoint which allows multiple requestable endpoints which are specified with the `AssertionConsumerServiceIndex` property.

Looking over the source code there's nowhere where this property is can be externally specified. It is given a default value of `1` [here

[2020-10-12 14:53] cjbarth commented on #380
At first glace, it doesn't seem that this would cause any problems. Would you be willing to make a PR that includes this new option, include tests, and references the part of the SAML spec that calls for this. That will likely get more eyes on this matter and help others down the road.

[2020-10-12 16:57] mans0954 commented on #459
Here's one possible solution: https://github.com/node-saml/passport-saml/tree/csh-issue-459-attr-value-regression-ec which passes the tests. It uses xml2js's `explicitChildren` option to put child nodes in a sub-object called `$$`. Used in combination with the `explicitCharkey` option (which was already set) a node may have the following properties:

* `_` character data
* `$` attributes
* `$$` ch

[2020-10-12 19:15] cjbarth commented on #459
Since we only started returning objects in 1.3.5, I'm not particularly worried about breaking that. As for the other changes, they seem to add clarity to where those properties are coming from, so I'm not against that either. My cursory glance seems to indicate that this wouldn't result in two different XML parsing patterns in the code; can you confirm that, as that would be a potential objection

[2020-10-12 20:18] mans0954 commented on #459
The low impact option would be to change `attrValueMapper` to something like this:
[code]
This then passes all the tests without changing any other code or any of the return values. I've put this on a branch here: https://github.com/node-saml/passport-saml/tree/csh-issue-459-attr-value-regression-some

[2020-10-13 14:03] cjbarth commented on #459
This seems like the correct solution to resolve the regression, however, I am interested in hearing comments from others about the bigger change for the next semver major release.

[2020-10-13 14:11] #459 closed

[2020-10-21 11:40] Crispy1975 opened #467 "SAML provider returned Responder error: unspecified (sha256)"
I've been using `passport-saml` for a while and it has performed well with `sha1` certificates and keys (ADFS and other IdPs). However I have recently added `sha256` certs and keys and I am now getting the following error back on trying to sign-in with an ADFS server.
[code]
The error on the ADFS side shows the following:
![image002](https://user-images.githubusercontent.com/12525875/96711228-2367

[2020-10-21 18:40] Quutti commented on #438
We have also this issue, any comments?

[2020-10-22 18:43] cjbarth commented on #438
It could be a bug. I haven't noticed it being a problem in my use, but that may just be that my situation has never exercised this code. This seems like an easy fix, but we'd like to see a reference to the SAML spec that says how this should be and then a simple test to make sure we never regress this.

[2020-10-22 18:50] cjbarth commented on #467
Question, what happens if you leave the `digestAlgorithm` as the default? I know `sha256` does work for [signing](https://github.com/node-saml/passport-saml/blob/026edf2a422f70ee8f483c902594bf29a27def3c/test/tests.js#L1421), but I don't know about digest. We may need more test coverage here.

[2020-10-22 21:00] Crispy1975 commented on #467
@cjbarth I tried without the `digestAlgorithm` as default, exactly the same error message as reported.

[2020-10-22 21:16] cjbarth commented on #467
It seems there may be something else at play here. Can you break the code to make sure that your provided options are actually being read. I ask because we have test coverage for this case [here](https://github.com/node-saml/passport-saml/blob/370ee9f03366f50cb4e346db95b9cb29834dea24/test/saml-post-signing-tests.js#L28). It is hard to imagine there would be a bug [here](https://github.com/node-sam

[2020-10-23 10:31] Crispy1975 commented on #467
Ok, so I ran a debug session from the API and grabbed the following for the SAML options passed in `getAuthorizeUrl()`, there is some weirdness going on with both the `signatureAlgorithm` and the `digestAlgorithm`. I suspect this could be the cause as it's not a known algorithm string... so it falls back to `sha1`?

![Screenshot 2020-10-23 at 11 21 49](https://user-images.githubusercontent.com/125

[2020-10-23 22:21] Crispy1975 commented on #467
I traced this back to a problem with base64 encoded strings. Everything seems to work as expected now. Thanks for taking the time to reply. :)

[2020-10-23 22:21] #467 closed

[2020-10-28 18:04] markstos commented on #456
I'm closing this now due to updating the `xml-crypto` dep to 2.0.0 in a release coming out shortly. Please comment if the issue persists with that version.

[2020-10-28 18:04] #456 closed

[2020-10-28 18:40] markstos commented on #431
@thenengah Please create a PR for this which includes a test case that illustrates the failure. You should hopefully be able to find a matching test, copy/paste and add some Carriage Returns to it.

I looked up the XML spec for newlines. It is here:

https://www.w3.org/TR/REC-xml/#sec-line-ends

It says that the XML *processor* should normalize the newlines as you describe before *parsing*.

I loo

[2020-10-28 19:30] markstos commented on #331
There is not bandwidth to answer support questions here.

[2020-10-28 19:30] #331 closed

[2020-10-28 19:32] #160 closed

[2020-10-28 19:33] markstos commented on #159
Re-open if you've got a test case to reproduce this.

[2020-10-28 19:33] #159 closed

[2020-10-28 19:34] markstos commented on #161
There's no bandwidth to answer support questions here.

[2020-10-28 19:34] #161 closed

[2020-10-29 06:45] mrosendin opened #475 "[BUG] No exported member"
`"passport-saml": "^1.3.5"` in `package.json` (which installs 1.4.0)

Running `yarn run build` on my system returned this error:

[code]

**Environment**
 - Node.js version: v14.5.0
 - passport-saml version: 1.4.0
- tsc version: 3.3.3333

[2020-10-29 08:40] gugu commented on #475
I'll take it

[2020-10-29 13:16] felipefadoni commented on #475
I'm in the same trouble.

[2020-10-29 13:48] benjamine commented on #254
I see this feature was added in 1.3.0, thank you 🙏 🎉 !!!

[2020-10-29 13:48] #254 closed

[2020-10-29 13:50] gugu commented on #475
The fix is in master. Can you please update package.json in the dev environment to git+https://github.com/node-saml/passport-saml.git and confirm it works now? @felipefadoni @mrosendin

[2020-10-29 13:55] felipefadoni commented on #475
@gugu Gugu, it worked here.

[2020-10-29 13:56] felipefadoni commented on #475
@gugu Thank you very much for the agility in solving the bug. We were here killing ourselves to solve, kkkkkkkk

[2020-10-29 13:57] gugu commented on #475
Great. @markstos, we need v1.4.1 :)

[2020-10-29 13:58] gugu commented on #475
It was me who introduced the bug :)

[2020-10-29 14:24] cjbarth commented on #475
@gugu is there something we need to do to the GitHub Actions/build to be able to catch a problem like this in the future?

[2020-10-29 14:28] gugu commented on #475
after we update tests to typescript they will test types as well

[2020-10-29 15:17] markstos commented on #475
Thanks. Releasing soon.

[2020-10-29 15:52] markstos commented on #475
Fixed in v1.4.1.

[2020-10-29 18:56] aloswald commented on #373
The 1.4.2 update included breaking changes. The major rev should have been bumped today. This broke my build, it's going to break others as well.

[2020-10-29 20:00] markstos commented on #373
@aloswald I'm open to that, but say more about what broke your build? All of our tests passed.

[2020-10-29 20:10] markstos commented on #373
@aloswald Also please try 1.4.2. Please open a new issue to report an unintentional breaking change.

[2020-10-29 20:42] aloswald commented on #373
@markstos Will do, looking into it so once I have my issue fixed I will let you know (hopefully it helps someone else if they have issues as well).

[2020-10-29 21:02] markstos commented on #373
@aloswald Sorry to break your build. Since there's a security fix, I wanted to err on the side of not bumping the version so people would be more likely to upgrade and receive the fix. (The security issue is in the xml-cryptop dependency. I'm not sure if this project was even exposed to the vulnerability.)

[2020-10-29 21:09] aloswald opened #479 "[BUG] Cannot read property 'Strategy' of undefined"
After updating to 1.4.0 (also tried 1.4.1 and 1.4.2) I get the following runtime error:

[code]

You can view the code [here](https://github.com/uwwebservices/UWER/blob/38bb7d40fbe3e590ed150fb16e7728129b5b1c1b/src/backend/index.js#L67).

**Environment**
 - Node.js version: 14.13.1
 - passport-saml version: 1.4.0, 1.4.1, 1.4.2

I don't usually develop in JS so my apologies in advance if this is my

[2020-10-29 21:19] cjbarth commented on #373
@aloswald For sure we want to add a test to cover the break you encountered. Once we can validate that we did break something, then we'll update the documentation and cut a major release. Thank you for your patience and cooperation.

[2020-10-29 21:20] cjbarth commented on #479
@gugu Do you think this might be related to some TypeScript stuff you've been working on?

[2020-10-29 21:31] markstos commented on #479
@aloswald Is your codebase written in JavaScript or TypeScript? Can you show how you import/require `passport-saml`? This would be the line where `_passportSaml` is defined.

Your code appears to referencing ` a "default" property on a "_passportSaml" object, but I don't see any properties by that name in our documentation.

[2020-10-29 21:32] gugu commented on #479
@aloswald can you please provide more information?
1. Do you use typescript? If yes, how does code look like in original version
2. How does import look like?

Export in v1.3 looked like this, no defaults:
![image](https://user-images.githubusercontent.com/75169/97634780-fa072980-1a3e-11eb-903a-e3d0bca1c9d7.png)

[2020-10-29 21:38] aloswald commented on #479
No TypeScript here. Babel, yes. The app is a single code base with an express backend and React frontend.

[Import (click me)](https://github.com/uwwebservices/UWER/blob/38bb7d40fbe3e590ed150fb16e7728129b5b1c1b/src/backend/index.js#L13)
[code]

[Use (click me)](https://github.com/uwwebservices/UWER/blob/38bb7d40fbe3e590ed150fb16e7728129b5b1c1b/src/backend/index.js#L67)
[code]

`_default` is from t

[2020-10-29 22:11] gugu commented on #479
Can you please update import to `import * as saml from 'passport-saml'`?
Previously babel did this replacement automatically, but now we started to use es6 exports

I can add `export default` for compatibility with babel if it needed

[2020-10-29 23:07] aloswald commented on #479
@guru Thank you, that seemed to work. If adding `export default` helps not break others that use Babel it may be a good idea.

[2020-10-29 23:27] aloswald commented on #479
@guru Would you rather I open a new issue?

[2020-10-29 23:38] markstos commented on #479
Are you sure you are using the latest release? The Q library is in the call stack, but we no longer use it.

[2020-10-30 00:00] aloswald commented on #479
Pretty sure. This is part of my `package-lock.json`:

[code]

[2020-10-30 00:06] aloswald commented on #479
Looking at your history. The Q library was removed an hour after 1.4.2 was published.

[2020-10-30 04:23] avilashchoudhary6681 commented on #475
@gugu The type definition file for multiSamlStrategy.d.ts is empty. so we are using @types/passport-saml. There is some inconsistency in type definition for getAssertion method in Profile between this package and @types/passport-saml.

`getAssertion(): object
 getAssertion(): Record<string, unknown>
`
passport-saml: 1.4.2

Please check this error

`Argument of type '(req: express.Request, profile:

[2020-10-30 14:53] markstos commented on #479
Ah, correct. Please try 1.5.0 then, which removes the Q library.

[2020-10-30 16:02] aloswald commented on #479
Unfortunately, I have a new error that is happening on login. This ones a little odd, not sure if this may be a Babel issue or not.

[code]

[2020-10-30 16:14] cjbarth commented on #479
Interesting... It does look like from [this](https://nodesource.com/blog/the-basics-of-package-json-in-node-js-and-npm/#:~:text=The%20main%20property%20of%20a%20package.json%20is%20a,will%20be%20what%27s%20returned%20to%20the%20Node.js%20application.) that we should probably be more specific with our `main` entry in `package.json`, but you're the first to report such a problem.

[2020-10-30 17:20] robcresswell opened #482 "[BUG] Type errors"
[code]

This seems to boil down to "please don't build a library with `esModuleInterop: true` because then all of your consumers also need to do this", but maybe I'm misreading the issue.

[code]

Note if anyone else is blocked by this, the "least-hacky" workaround is probably to enable `skipLibCheck: true` or downgrade.

[2020-10-30 19:16] #482 closed

[2020-10-31 08:39] capaj commented on #479
I am also getting this on same versions as @mjknight50, just tested.

[2020-11-01 12:16] arelg commented on #479
on version 1.5.0 getting:
TypeError: parser.parseStringPromise is not a function
    at SAML.processValidlySignedAssertion (/app/server/node_modules/passport-saml/src/passport-saml/saml.ts:970:12)
    at /app/server/node_modules/passport-saml/src/passport-saml/saml.ts:708:21
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)

[2020-11-02 10:50] gugu commented on #479
Added fix for parseStringPromise. parseStringPromise was added in the patch version of xml2js and older installations keep old version

[2020-11-02 12:14] gugu commented on #479
@aloswald do you install the module from npm or via github? It can happen if module is installed directly from github

[2020-11-02 13:51] mogadanez commented on #479
I also have error after upgrade:

[code]

[2020-11-02 15:12] markstos commented on #479
@mogadanez We plan to fix this in a 2.0 release later today.

[2020-11-02 15:12] #479 closed

[2020-11-03 09:13] robcresswell opened #489 "New release?"
Could we get a new release tagged with the latest fixes please?

[2020-11-03 10:21] a-legrand opened #491 "[BUG] parser.parseStringPromise is not a function"
I have "parser.parseStringPromise is not a function" errors on validating incoming samlResponse (was ok in 1.3.5 with same data)

**Environment**
 - Node.js version: 12.18.3
 - passport-saml version: 1.5.0

[2020-11-03 11:35] superglue777 commented on #491
Same here. The issue is wrong `xml2js` dependency version number. In passport-saml I see:
[code]
But `parseStringPromise` was added from 0.4.20.
Quick workaround to add this dependency to your project package.json file.

[2020-11-03 14:12] janjoost-denbrinker commented on #491
Thanks @superglue777 the workaround saved me a lot of time debugging.

[2020-11-03 14:15] markstos commented on #489
In progress. I'll leave a comment here when it's out.

[2020-11-03 14:18] markstos commented on #491
This will be fixed in the next release, maybe today. Subscribe to #489 if you want to be notified.

[2020-11-03 14:18] #491 closed

[2020-11-03 18:13] markstos commented on #373
I'm release 2.0 today and most of these goals have been met, so I'm closing this. We can open a new Roadmap / Future release issue for future big picture planning.

[2020-11-03 18:13] #373 closed

[2020-11-03 18:20] markstos commented on #489
Published v2.0.1.

Release notes are here: https://github.com/node-saml/passport-saml/releases/tag/v2.0.0

[2020-11-03 18:20] #489 closed

[2020-11-03 20:08] aloswald opened #494 "[BUG] Cannot find module '/www/node_modules/passport-saml/lib/passport-saml'. Please verify that the package.json has a valid "main" entry"
Still getting the same error in 2.0.1 that I was in 1.5.0. Anyone else having this issue?

[code]

[2020-11-03 20:52] gugu commented on #494
can you please share `package.json` entry, which includes `passport-saml` module in your project?

[2020-11-03 21:05] aloswald commented on #494
[Sure, you can view it here.](https://github.com/uwwebservices/UWER/blob/develop/package.json) But I think it is talking about passport-saml's `package.json` file because it's entry isn't specific. I thought it was to be updated in 2.0.0 per this comment: https://github.com/node-saml/passport-saml/issues/479#issuecomment-719647983

[2020-11-03 22:18] markstos commented on #494
@aloswald your problem seems like it might be Babel-specific. Try alterating our "package.json" in your node_modules directory to see if there's a syntax that works for you.

Installed 2.0.1 into a temp directory and unpacked it `main` in `package.json` points to `./lib/passport-saml` and I confirmed `./lib/passport-saml/index.js` exists and contains "exports".

From reviewing `man package.json` a

[2020-11-03 22:25] markstos commented on #494
Here's the reference docs for module load order:

https://nodejs.org/api/modules.html#modules_all_together

Notice that there is different path handling for relative and absolute paths. Not only are you using Babel, but your app is attempting to load an _absolute_ path:

       /www/node_modules/passport-saml/lib/passport-saml

Notice from the spec that when you do that, the file system "root" set

[2020-11-03 22:44] markstos commented on #494
@aloswald You can test the fix in https://github.com/node-saml/passport-saml/pull/495  but see my comments there for why I suspect it won't work.

[2020-11-04 12:18] gugu commented on #494
@aloswald can you please update `import passport from 'passport-saml'` to `import { Strategy } from 'passport-saml'`. It fixes the problem

[2020-11-04 16:27] robcresswell commented on #489
Thanks @markstos! Much appreciated

[2020-11-05 01:49] mhassan1 commented on #431
@markstos PR here: https://github.com/node-saml/passport-saml/pull/498

[2020-11-05 15:34] #431 closed

[2020-11-05 19:23] aloswald commented on #494
@gugu I was using `import * as saml from 'passport-saml'` then instantiating with `saml.Stragegy`.

@markstos You are correct, it did not work for me. I will check the pathing when I get a chance, but if that was the case I suspect I would have issues with other libraries too.

[2020-11-06 23:42] aloswald commented on #494
@markstos @gugu
I updated to 2.0.2 and did not change anything else in my app. After trying 2.0.2 I was presented with a new error. FYI, I can switch to 1.3.5 and my app works fine, switch to 2.0.2 and it breaks, switch back to 1.3.5 and it works fine. This is a runtime error that occurs when attempting to login. Because of this, and my unfamiliarity with JS, I can only suspect something wrong wit

[2020-11-09 21:54] markstos commented on #494
@aloswald The error is telling you that there's something wrong with your certificate.

[2020-11-10 16:32] aloswald commented on #494
@markstos Yes, I know what the error is telling me. The error is incorrect. There is nothing wrong with the certificate.

[2020-11-10 22:20] cjbarth commented on #494
@aloswald That error isn't being thrown by `passport-saml` either. It is being thrown by `node` itself. Please see this test that causes this error to see what is happening: https://github.com/nodejs/node/blob/dae283d96fd31ad0f30840a7e55ac97294f505ac/test/parallel/test-crypto-key-objects.js#L205

[2020-11-11 19:25] ishanuda opened #499 "error:0909006C:PEM routines:get_name:no start line"
Hi,
I am using the passport-saml along with the Nest.JS.

The settings of the strategy is the following:

[code]
With the above settings before re-directing to the idp server I am getting the following error:

[code]
**NOTE: However with the configuration, I can generate the metadata.xml file using the method
`generateServiceProviderMetadata` without any errors.**

Am I missing some settings or co

[2020-11-11 22:24] cjbarth commented on #499
Can you capture the values that are sent to `Sign.sign` and see if the cert is what you are expecting? Or, perhaps you could write a unit test that duplicates this behavior.

This may be a similar issue to what was commented on here: https://github.com/node-saml/passport-saml/issues/494#issuecomment-723348603

[2020-11-12 15:35] ishanuda commented on #494
Hi, @aloswald I also got the same error but with version 1.3.5.
You are saying that the config is working fine with version 1.3.5.
[Here is my configurations](https://github.com/node-saml/passport-saml/issues/499)

Regards

[2020-11-13 07:35] ishanuda commented on #499
Hi @cjbarth,
Thank you for your reply.

I wonder how **@aloswald** set up the application to work with the v1.3.5 as he mentions in the comment.
Also, he says updating the library is giving the error.
[Comment](https://github.com/node-saml/passport-saml/issues/494#issuecomment-723348603)

Regards.

[2020-11-13 13:04] gugu commented on #494
@ishanuda do you use private key from environment variables? how does your private key look like?

1. single line base64
2. multiline with ----- BEGIN PRIVATE KEY ---- and ----- END PRIVATE KEY ----
3. multilite without header/footer
4. binary

[2020-11-13 15:50] ishanuda commented on #494
Hi @gugu,
Thank you very much for your reply.

I am using option 2.

[code]

`decryptionPvk: process.env.PRIVATE_KEY`

The certificate is  starting like the following

[code]

`privateCert: process.env.PRIVATE_CERT`

I tried with '\n\r' replace also but no success.
Thank you very much.

[2020-11-13 18:05] ishanuda commented on #499
Hi @gugu,

I just applied what the `keyToPEM(key)` method does with your fix as a local method just to check.

[code]

But no luck and the issue exists still.

Thank you very much.

[2020-11-13 18:06] aloswald commented on #499
@ishanuda You are welcome to look, the project I was working is open source.
[https://github.com/uwwebservices/UWER/blob/7347734fdf8919d57d47d69a238afda0a40294d5/src/backend/index.js#L67](https://github.com/uwwebservices/UWER/blob/7347734fdf8919d57d47d69a238afda0a40294d5/src/backend/index.js#L67)

[2020-11-13 18:08] ishanuda commented on #499
Hi @aloswald,

Thank you very much for the link.
I will check it and get back to you.

Regards.

[2020-11-13 19:21] #499 closed

[2020-11-13 21:36] gugu commented on #494
how do you store newlines in process.env.PRIVATE_KEY?

[2020-11-13 22:00] gugu commented on #494
@ishanuda how do you store newlines in process.env.PRIVATE_KEY?

[2020-11-14 07:37] ishanuda commented on #494
Hi @gugu,

I did not manually store new lines in the private key.
Just downloaded the generated key from the online self-signed key generator.
Used the file.
Did not modify/ or open the key/cet files in the text editor.

Regards.

[2020-11-14 12:47] pslotinsky opened #501 "Possibility to choose the account if the user is logged in with the single account"
When user signed with his personal account **only**, authentication failed with error:  "403 app_not_configured_for_user"

I found this workaround on stackoverflow: https://stackoverflow.com/questions/48806629/google-saml-app-not-configured-for-user-equivalent-of-prompt-select-account-sa

It would be great if you could consider it as a new feature

[2020-11-15 16:58] gugu commented on #494
Can you please add console.log(process.env.PRIVATE_KEY) and check if it contains newlines

[2020-11-16 20:55] markstos commented on #501
Unless I misunderstand, this would be something that would be implemented outside of `passport-saml`. Our project contains no Google-specific code and we don't intend to add exceptions for various "account choosers".

If there's a specific patch to consider, go ahead and open a pull request, or add something to the the wiki if there's a suggested solution to this, but since I don't see how this wo

[2020-11-16 20:55] #501 closed

[2020-11-19 11:40] Dimona opened #502 "[BUG]"
**Environment**
 - Node.js version: 8.17.0
 - passport-saml version: 2.0.2

I faced some issue during implementation of passport saml strategy in my API. I need to change the behavior of this.redirect() function which is located in strategy.js. I tried a lot different ways but can't handle it. Did you provide a such possibility?

Steps to reproduce.
0. Prerequirements. User shouldn't be logged in

[2020-11-19 22:47] cjbarth commented on #502
I'm not sure I understand what problem you're facing. It appears that you just want to redirect a user that isn't logged in. If so, I'm not sure why `passport-saml` has to be involved with that.

[2020-11-25 08:08] Dimona commented on #502
I repeat. The function is inside redirectIfSuccess is inside src/passport-saml/strategy.ts.
[code]
It strictly uses the redirect method from passport/lib/middleware/authenticate.js. So I can't redefine it. My main concern that I definetely need to redefine redirectIfSuccess funciton to change the behavior somehow (it doesn't matter now), and this function is inside passport-saml package. That's wh

[2020-11-25 08:12] Dimona commented on #502
@cjbarth Or maybe can be better to have the possibility to redefine it from options For example
[code]

[2020-11-25 15:05] markstos commented on #502
@Dimona Why do you want to redefine `redirect()`? How do you want to redirect differently?

[2020-11-25 15:21] gugu commented on #502
you can create your own strategy, which has SAML strategy as a base class and you can override redirect method

[2020-11-25 19:37] cjbarth commented on #502
What I've done is just modify the options that I pass to the strategy based on what I needed to happen. I actually modify the options for every request so I can do all sorts of fancy redirection. I might recommend that you have a look at https://github.com/node-saml/passport-saml/blob/be111f3a231fe917bfe42104e42a952bfc843ebe/src/passport-saml/saml.ts#L477 and see how the options are ultimately use

[2020-11-30 13:59] Dimona commented on #502
How can you stop sending 302 redirect in the case when the user is not logged in? I read about all possible options several times, and checked the source code, I haven't found how can I redefine redirect behavior

[2020-11-30 17:29] cjbarth commented on #502
I feel like I'm missing something here; let me explain the flow as I understand it:

1. User opens new private browser
2. User browses to your site
3. User is redirected with a 302 because they aren't logged on

Please fill in where I'm missing because the above is not an automatic behavior; you'd have to be calling some code, and that is where I think there is a gap in understanding.

[2020-12-03 17:48] gugu commented on #494
@ishanuda does this problem reproduce?

[2020-12-03 18:16] gugu commented on #502
Here is my code:

[code]

@Dimona is it what you need?

[2020-12-07 03:49] akasakashota opened #509 "Suggestion about adding a validation logic for Recipient of SAML Response"
According to some SAML specifications ([4.1.4.3 in SAMLProf](http://docs.oasis-open.org/security/saml/v2.0/saml-profiles-2.0-os.pdf) and [6.4.2 in SAMLSec](https://docs.oasis-open.org/security/saml/v2.0/saml-sec-consider-2.0-os.pdf)), the specs says that a Service Provider MUST check the Recipient attribute of the SAML response. However,  there doesn't seem to be any logic for validation in this l

[2020-12-08 12:07] illya-anyvision commented on #280
If someone encounter this issue make sure you use the same middleware in your callback route as well
` passport.authenticate('saml'),`

[2020-12-11 03:00] mhassan1 opened #511 "[BUG] Signature calculation is inconsistent for different line endings"
In https://github.com/node-saml/passport-saml/pull/498, we added newline normalization before signature validation in `validateSignatureForCert`. The suggestion for this fix came from https://github.com/node-saml/passport-saml/issues/431#issuecomment-629170914; however, I don't believe this fix goes deep enough into newline normalization.

While this fix normalizes newlines right before the signat

[2020-12-11 09:34] mategvo commented on #185
This works for me locally but doesn't work when deployed. I am testing the exact same private key and token:

  const { uid } = await jwt.verify(
    token,
    privateKey,
    {
      algorithms: ['RS256'],
    },
    function (err, decoded) {
      functions.logger.log('error verifying token', err); // bar
      return decoded;
    },
  );

[2020-12-14 23:06] cjbarth commented on #509
@akasakashota , please provide a PR to accomplish this.

[2020-12-15 11:35] jorg1piano commented on #185
@mategvo any luck? Ran into the same issue. Works locally, but not on the server

[2020-12-15 14:47] newmanw commented on #343
I am seeing the same thing as well.  In my case I am seeing it in RelayState.  The RelayState seems to be encoded twice, when it comes back the RelayState must be decoded twice.

[2020-12-15 23:33] dfdeagle47 commented on #245
Much appreciated. Perfectly agree it's much better to have a scalable solution which doesn't rely on `eduPerson`-related attributes (though I didn't have time to propose a cleaner solution).

(Didn't know `eduPersonTargetedID` was deprecated, thanks for pointing it out, though how wonder how many years it will take for universities to update their configuration ^^)

[2020-12-17 15:24] #511 closed

[2020-12-21 22:02] cjbarth commented on #343
@newmanw , do you have a tests case for this? We'd certainly like to have this fixed, but we don't have a reliable reproduction to work off of.

[2020-12-22 20:29] markstos commented on #494
Closing this because @aloswald has not provided a clear reproduction, like a failing test for the test suite and @ishanuda was reporting a problem with 1.3.5, not the current version.

If an issue can be reproduced with the current version-- a failing test case for the test suite is ideal-- please comment to re-open.

[2020-12-22 20:29] #494 closed

[2021-01-04 20:05] newmanw commented on #343
@cjbarth good news, I dug a bit more and it was the saml server I was hitting that was re encoding an already encoded value.  Please disregard my comment.

[2021-01-04 20:22] #343 closed

[2021-01-05 11:49] ishanuda commented on #494
Hi,

Thank you very much and sorry for the delay.

Wish you all a very happy new year.

Yes, it is still there. However, I got it fixed by switching the key and cert as follows. I just did it to check what happens, finally, the error was gone.

Here is what I did.
`privateCert: -----BEGIN RSA PRIVATE KEY-----`

`decryptionPvk: -----BEGIN CERTIFICATE-----`

So I would like to know if this is the co

[2021-01-07 15:49] cjbarth commented on #494
@ishanuda Please use a newer version of `passport-saml`.

[2021-01-07 19:14] ishanuda commented on #494
Hi @cjbarth,

Thank you very much for the information.
I will update the library version and get back to you if the above-mentioned issues exists.

regards.

[2021-01-12 18:10] ishanuda commented on #494
Hi @cjbarth, @gugu, @markstos,

I updated the library.

[code]
Still the same errors.

This configuration can not switch. It gives the same error: "no start line." mentioned above.
[code]

Also can not SLO, it re-route to the dashboard after login.

Thank you very much
Regards.

[2021-01-19 19:39] mhassan1 opened #519 "[BUG] Release 2.0.3 not published to NPM"
I see tag https://github.com/node-saml/passport-saml/releases/tag/v2.0.3 from 12 days ago, but I don't see a new release on [NPM](https://www.npmjs.com/package/passport-saml). Are we waiting for something before publishing?

[2021-01-19 19:46] markstos commented on #519
Checking.

[2021-01-19 19:51] markstos commented on #519
It should be released in about 15 minutes, so I'll go ahead and close this.

[2021-01-19 19:51] #519 closed

[2021-01-19 20:22] markstos commented on #519
Released. There were internal changes related to the changelog format, so the release is v2.0.4.

[2021-01-20 17:17] giacomobartoli commented on #169
@mx781 I am experiencing the same issue. How did you solve it?
Currently my configuration is:

[code]

However, the request always goes to
`AssertionConsumerServiceURL="http://mywebserver-dev.eu-de.mybluemix.net/login/callback"`

According to the doc, If I explicit the callbackUrl then it should be used that one in request. If not specified, it is created by concatenating **protocol** + **host** +

[2021-01-21 15:49] markstos commented on #169
@giacomobartoli You could try patching the code as described in my comment above.

[2021-01-21 17:11] giacomobartoli commented on #169
@markstos that worked, but I still run into error 400 bad request. Is there a specific reference for Shibboleth v3 requests?

[2021-01-21 17:46] giacomobartoli opened #520 "Sample configuration for Shibboleth v3"
Is there any sample config for using passport-saml with Shibboleth?

I tried all possible combinations with passport-saml but I keep running into error 400 bad request.
This is my request according to SAML tracer plugin:

<img width="951" alt="saml" src="https://user-images.githubusercontent.com/2913435/105389990-d6581780-5c18-11eb-99ad-456068a9ebca.png">
<img width="640" alt="summary" src="https:

[2021-01-21 17:51] markstos commented on #169
Hmm, no, but a number of my customers are using Shibboleth IdPs with our passport-saml SdP without a problem.

Use a SAML tracer to dig into the details of the 400 error.

https://chrome.google.com/webstore/detail/saml-tracer/mpdajninpobndbfcldcmbpnnbhibjmch?hl=en

[2021-01-21 21:56] markstos commented on #520
There's not. You should ask the owner of that IIS server to check their logs and see why it's returning a 400 error.

[2021-01-22 08:17] giacomobartoli commented on #520
After few days (even nights!) I came out with this configuration that seems to be working fine with Shibbolet v3.4.6:

[code]

I do hope this will help someone else facing the same issue.
@markstos let me know if there is a wiki or something where I can report that.
Thanks anyway for help.

[2021-01-22 18:34] cjbarth commented on #520
I would suggest that you create a PR with an adjustment to the readme file following [this](https://github.com/node-saml/passport-saml#usage-with-active-directory-federation-services) example.

[2021-01-22 18:46] srd90 commented on #520
@giacomobartoli based on infromation at the pictures you posted in the first message situation seemed/seems to be that
1. you had configured your passport-saml to use Shibboleth IdPv3's `HTTP-POST` binding ( `https://[...]/idp/profile/SAML2/POST/SSO` ) as an endpoint for authnrequest, but
2. at the same time you had configured passport-saml to use `HTTP-Redirect` binding format and transport mecha

[2021-01-22 19:36] giacomobartoli commented on #520
@srd90 you're right. To make it work I had to change the binding request from _HTTP-POST_ to _HTTP-REDIRECT_ and I have already changed the _acceptedClockSkewMs_ flag. Let's say that at the beginning I just tried to make it work, even by attempts. Then I improved the configuration gradually.. step by step. For sure, my PR wouldn't incluse those mistakes. However, I must admit I was not aware of th

[2021-01-22 19:42] jasonrappaport opened #521 "[BUG] Wiki.JS Missing or invalid email address from profile"
Trying to configure SAML auth within Wiki.JS, Wiki.JS will redirect to Shibboleth IDP correctly, IDP will process authentication, but when IDP posts back to Wiki.JS an error is presented, "Missing or invalid email address from profile"

Wiki.JS is configured to use the following as nameID format:
urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress

Within the SAML request is indeed the nameID f

[2021-01-22 21:37] markstos commented on #521
No evidence is provided here that there's a bug in `passport-saml`, which works fine with the popular `urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress` format. If there's a bug, you should be able to write a test for the test suite which fails.

Sorry, there aren't developer resources here to provide support. If you able to reproduce the issue with a failing test suite test, please contribu

[2021-01-22 21:37] #521 closed

[2021-01-23 01:16] markstos commented on #520
Very helpful @srd90 !

[2021-01-24 06:58] umardraz opened #522 "How to get SamlStrategy parameters from db"
Hi

I want to get these values from MySQL DB instead of static config file or from .env

[code]
is it possible? if yes then would you please help me how I can do this?

[2021-01-25 19:46] srd90 opened #523 "Missing cert configuration option disables signature validation silenty/without huge warning messages"
There is/was issue #180 which addressed this particular case.

There is no need to repeat reasons why `passport-saml` MUST have safe defaults for signature validation configuration ( read @pitbulk 's and @alexstuart 's comments from #180 ). In fact one should not be able disable it at any circumstances.

It seems that there was some sort of consensus at the end of #180 that

**but** content of com

[2021-01-25 22:14] markstos commented on #523
Thanks for the detailed report, @srd90.

[2021-01-26 02:23] markstos commented on #522
Support is not provided here. You can try StackOverflow with `passport-saml` tag.

[2021-01-26 02:24] #522 closed

[2021-01-26 15:09] jonathansamines opened #524 "Add support to single line private keys on decryptionPvk"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Would be nice if `decryptionPvk` could be specified as a single line private key just as `privateKey` can be specified in a singleline.

**Describe alternatives you've considered**
Not applicable

[2021-01-26 15:26] markstos commented on #524
@jonathansamines You are welcome to submit a PR for this. Note that the first attempt to implement single-line-keys failed. Anyone implementing this should review what happened last time and what the solution was to make sure the same problem is not repeated here:

https://github.com/node-saml/passport-saml/commit/7e2de2d4e22d1562eccd5d487ac24071226e9492 (scroll for discusson about the regression)

[2021-01-26 18:27] jonathansamines commented on #524
Hey @markstos I looked into 7e2de2d and looks like #423 used a different implementation (currently in use for `privateKey`) which seem to have solved the original problem. Would the implementation on `decryptionPvk` be different than the one applied to `privateKey`?

[2021-01-26 18:50] markstos commented on #524
@jonathansamines if the header and footers  are the same, I presume the solution would be identical.

[2021-01-29 12:02] dosullivan557 opened #525 "[BUG]"
When installing the module, we pull in .pem files and .key files which causes our application to fail security scans. As part of the install, we should not move these files in.

[2021-01-29 14:08] cjbarth commented on #525
I'm not sure what bug you are reporting. Can you please provide a clear test case, perhaps even a new unit test that fails?

[2021-01-29 17:22] dosullivan557 commented on #525
It's not an issue with the code, because we install your module in an application, it copies over .pem and .key files that are in your tests. This means that when we put our application through security scans, it fails because it finds these files and classifies them as sensitive data. What I'm asking is whether you can not include these in the bundled version of the application.

To resolve it, y

[2021-01-29 18:33] cjbarth commented on #525
That seems reasonable. Can you make a PR?

[2021-01-29 19:14] dosullivan557 commented on #525
Thanks @cjbarth  - PR raised

[2021-01-29 19:42] dosullivan557 commented on #525
Merged in - @cjbarth when could I expect it to be release to use?

[2021-01-29 21:16] cjbarth commented on #525
Released as v2.0.5

[2021-01-29 21:16] #525 closed

[2021-02-01 15:58] mhesler74 opened #528 "[BUG] Unable to override default authnRequestBinding when using MultiSamlStrategy"
passport.authenticate only uses the default authnRequestBinding setting when using the MultiSamlStrategy class.
Providing an alternative authnRequestBinding setting as a return value in the getSamlOptions function is completely ignored.

[2021-02-01 17:04] cjbarth commented on #528
Would you be willing to make a PR to address this @mhesler74 ?

[2021-02-01 17:12] stavros-wb commented on #528
It's currently a "global" passport configuration
https://github.com/node-saml/passport-saml/blob/43465d6b4957218b05ca040dd5c8d853a1208cbd/test/multiSamlStrategy.js#L136
Do you need it, to be set per client?

[2021-02-01 19:35] mhesler74 commented on #528
Yes, I need it set per client.  Some of our customers are using HTTP-Request binding for authentication while others support HTTP-POST.

[2021-02-01 19:38] mhesler74 commented on #528
Actually another PR was put in a while back by someone else... very similar
https://github.com/node-saml/passport-saml/pull/432

[2021-02-09 13:54] HendrikJan opened #533 "Is it possible to get "WantAssertionsSigned = true" to work?"
Our IdP is requiring that we set `WantAssertionsSigned` to true in the metadata we send them.

I did not find an option in the documentation to add `WantAssertionsSigned="true"` to the metadata when calling `generateServiceProviderMetadata( decryptionCert, signingCert )`.
I did not find the string "WantAssertionsSigned" anywhere in the code, so I assume this is not implemented.

Therefore I added

[2021-02-09 17:43] cjbarth commented on #533
Thank you for your feedback about this feature. I don't believe we support this feature, particularly if you've already searched the code like you have. We aren't really in a position to implement features for others, but we do try to help others add the features correct and include them in this project.

We typically start by asking that a link to the relevant part of the SAML spec be linked to.

[2021-02-10 09:00] HendrikJan commented on #533
Hi @cjbarth, thank you for the quick reply.
I did solve my problem. Just manually adding `WantAssertionsSigned="true"` to the metadata XML is enough.
The reason my IdP rejected was because I set encryption to sha512, which was not supported by the IdP.

In case anybody else is looking for "WantAssertionsSigned" and stumbling upon this issue:
The SAML Spec says this:

[2021-02-10 15:06] cjbarth commented on #533
@HendrikJan Would you be willing to make a PR that includes the changes that you made so that they can end up in this code so you don't have to maintain a fork and so that others can benefit from your discovery?

[2021-02-10 17:55] HendrikJan commented on #533
@cjbarth.
Unfortunately I did not make a fork.
I wouldn't know where to look in the code to fix this (I didn't read the code, only did a search for "WantAssertionsSigned")

What I did was fix the generated metadata after generating.

[code]

I'll try to read the code this weekend and see if I can create a PR, but I'm not sure I will succeed.

[2021-02-10 21:20] christian-hawk opened #535 "[SECURITY] Vulnerability on axios package, needs upgrade"
axios < 0.21.1 suffers SSRF vunlerability according to [CVE-2020-28168](https://snyk.io/vuln/SNYK-JS-AXIOS-1038255).
So update required.

[2021-02-14 00:31] ramonluis1987 opened #537 "passport-saml with sailsjs, profile callback is never executed [BUG]"
I am trying to integrate with OKTA SAML 2.0 but for some reason, the callback is not executed. Any idea? Thanks

[code]

[2021-02-14 04:15] ramonluis1987 opened #538 "[BUG]"
I am trying to integrate with OKTA SAML 2.0 but for some reason, the callback is not executed. Any idea? Thanks

passport.use(new SamlStrategy({
    path: '/v1/callback',
    callbackUrl: 'http://localhost:8080/v1/callback',
    entryPoint: 'https://xxxx/sso/saml',
    issuer: 'http://www.okta.com/xxxxxxx',
    cert: './cert/okta.cert',
    passReqToCallback: true,
    logoutUrl: 'http://localhost

[2021-02-14 04:15] #538 closed

[2021-02-14 18:21] cjbarth commented on #537
Why do you say this is a bug? Could you please provide a test that fails? Others have used `passport-saml` with OKTA without issues.

If this is just a question about how to use `passport-saml`, you might have better success asking this question on StackOverflow: https://stackoverflow.com/questions/tagged/passport-saml

[2021-02-15 17:19] jakowenko opened #539 "How to pass X509 certificate in SAML POST"
I'm working on migrating our existing SAML implementation  from SimpleSAMLphp to passport-saml. I've run into a couple road blocks when using the HTTP-POST binding.

When using a SAML chrome inspector I've noticed the working implementation passes the X509 Certificate in the message body, but passport-saml doesn't seem to include that, only the SignatureValue.

My SAML strategy currently looks lik

[2021-02-15 22:39] #528 closed

[2021-02-15 23:05] markstos commented on #539
@jakowenko Please provide a reference to the location in the SAML spec that clarifies the current behavior is not spec compliant.

We measure this project against the SAML spec, not SimpleSAMLphp's behavior.

[2021-02-16 17:25] vbodnia opened #540 "1.x.x to 2.x.x migration type issue"
Env: Node 14.15.4
Typescript 4.1.3

Currently, I am using passport-saml@1.5.0 with @types/passport-saml@1.1.2. After updating to 2.0.5 I've got a type error in MultiSamlStrategy saying:

The problem is that I'm also extending express requests with custom fields, e.g. user.

[2021-02-16 18:41] cjbarth commented on #540
The latest build of `passport-saml` includes its own types and doesn't need anything from DefinitelyTyped.

[2021-02-18 15:03] hcldan opened #541 "[ENHANCE] provide means to associate state with each saml request before the redirect to the idp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When users have saved tabs in a browser, and they open their browser after a session has expired, it results in all tabs getting a redirect to log in.  If the site uses a cookie to figure out where to return, then all tabs get clobbered.

I

[2021-02-19 16:42] christian-hawk opened #542 "Is it possible to create a single metadata to all IDP providers?"
Hello, I have several providers and creating a single metadata for all IDP providers makes more sense. I couldn't find information about it thou, can you help me?

[2021-02-19 23:27] gtokarz opened #543 "[BUG] Possibility to overwrite profile fields with data from attributes"
Currently attributes are mapped to profile without any check, which might at best cause minor issues with previously present properties from profile object.

**To Reproduce**

Configure Idp/craft a SAML response with attribute Name set to i.e issuer or other profile field set before attribute mapping. Mapped profile object should now have overwritten issuer field.

**Expected behavior**
It should

[2021-02-20 00:00] cjbarth commented on #543
@gtokarz would you be willing to create a PR with tests for this?

[2021-02-20 00:03] cjbarth commented on #542
@christian-hawk I don't think you'd want that because no IdP would be able to import that. What would you envision this looks like and how would you use it?

[2021-02-20 00:06] cjbarth commented on #541
I'm not sure how this would add to what is already possible. I know many users of this library federate with multiple IdP without issue, in fact, we have a special class just for that. However, if you care to put together a PR, I'll have a look.

[2021-02-20 10:15] gtokarz commented on #543
@cjbarth Yes, I might have some time on Monday to do so

[2021-02-21 18:03] vbodnia commented on #540
@cjbarth In fact, the same issue happens without @types/passport-saml package. I have reinstalled modules with the version 2.0.5 and got the same error.

[2021-02-22 11:04] christian-hawk commented on #542
Maybe I did the wrong question, sorry @cjbarth .
What I would like to achieve is to generate one single metadata containing all (passport) providers for many (external) IDPs.

[2021-02-22 18:05] srd90 commented on #523
This comment is reply @markstos 's question at https://github.com/node-saml/passport-saml/pull/536#issuecomment-783435111

`passport-saml` is at the heart of quite many applications' authentication implementation.

At the moment https://github.com/node-saml/passport-saml/network/dependents shows > 1200 public dependents and npmjs shows > 137 public dependents and weekly downloads >110k

With such

[2021-02-22 20:05] markstos commented on #523
@srd90 Thanks for more context.

I'm in favor of a "safe by default" approach and am comfortable with making the `cert` property required. This can be done with a major version release as a breaking change. Immediately, we could put out a release that starts to log warnings if `cert` is missing.

Are you employed as a white hat by chance?

@gugu @cjbarth Any objections?

[2021-02-22 20:08] cjbarth commented on #523
I have no objections, but the code is currently in the process of being reworked such that even if we release now, we should probably do a semver major. I'm working on a PR to rework things to require `cert`. I also hope that there will be a PR removing all the deprecated callback-style functions.

[2021-02-22 21:01] srd90 commented on #523
@markstos No. Checking `passport-saml` every now and then has become more like a hobby. Especially these COVID-19 pandemic times (restrictions, social distancing, etc.) makes one do all sort of things to prevent boredom.

[2021-02-22 21:22] cjbarth commented on #523
Are we saying that we are requiring `cert` only or also requiring `privateKey` as well? I want to make sure I enforce the correct things in the work I'm doing.

[2021-02-22 22:49] markstos commented on #523
I read the conversation above as applying only to `cert`.

On Mon, Feb 22, 2021 at 4:23 PM Chris Barth <notifications@github.com>
wrote:

--

*Mark Stosberg* (he/him)

Director of Systems & Security

mark@rideamigos.com | 765.277.1916

https://www.rideamigos.com <https://rideamigos.com/>

Changing the way the world commutes.

<https://www.linkedin.com/company/rideamigos>
<https://www.twitter.com/r

[2021-02-23 04:20] xjackk opened #544 "[BUG] authnRequestBinding POST returning undefined in res"
I have the following configuration in a **Next.js** project.

In `pages/api/passportConfig.js`:
[code]

In which on a login form im posting to `api/passportConfig` through fetch like so...

[code]

TypeError: Cannot read property 'send' of undefined
 from `\lib\passport-saml\strategy.js:86`

[code]

It appears `req.res` is not available. Is anyone getting this behavior?

[2021-02-24 12:49] christian-hawk commented on #542
Basically I have this single SP providing same metadata for several (_n_) IDPs. It's an 1-to-_n_ thing.

I was checking out `MultiSamlStrategy` but it's not clear for me if I can create 1 single metadata to all external IDPs.

[2021-02-24 13:02] gugu commented on #542
Are you sure it is possible in the SAML protocol? You can generate metadata in a loop for every SAML provider and combine these strings somehow, but as far as I know there is no standard for this

[2021-02-24 14:22] HendrikJan opened #547 "[BUG] Invalid SAML response gets validated"
I am not sure, but I seem to have found a bug in the validation.

See #546

I edited a valid response (changed "https://evil-corp.com" to "https://hacker-corp.com" in two places) and the validation does not result in "Invalid response".

**To Reproduce**

Run the tests in #546

**Expected behavior**

Because the response is messed with, the validation should result in "Invalid response" but it doe

[2021-02-24 14:41] christian-hawk commented on #542
@gugu thanks for your quick reply.

What I need to achieve (if possible) is that all my IDP peers would use the same Assertion Consumer Service (ACS) endpoint at passport, and a single metadata url. Further routing of incoming SAML responses would happen internally, like it’s done by most other SAMP SP implementations (Shibboleth SP, for example). As currently I basically have a separate SP for ev

[2021-02-25 00:19] srd90 commented on #547
comments after looking at #546

---

First of all lets inspect how test case which uses  `valid/response.root-signed.assertion-signed.xml` behaves because it is quite odd that your test receives "Assertion expired" (one could have expected for example issuer mismatch if/when issuer element at samlp namespace mismatch with issuer element at saml namespace).
So  when `R1A - both signed => valid` tes

[2021-02-25 09:37] HendrikJan commented on #547
Thank you for looking into this.
I'll close this issue and the PR as it looks like fixing #523 will fix this issue.

I get the impression from reading the tests that they do not control current time behind the scenes, but instead accept the error "Assertion expired" as signifying a valid response.

I hope #523 is going to be fixed soon.

[2021-02-25 09:37] #547 closed

[2021-02-25 20:56] hcldan commented on #541
@cjbarth am I understanding the concept of inResponseTo correctly?

I'm not using multiple idps, but it would be useful to get an identifier for any outbound redirect to an IDP for each unique request to the IDP.

Again, imagine you open your browser to 10 github(configured with saml) PR request tabs.  Each tab is a different PR.   Each of those tabs is operating on the same expired authentication

[2021-03-01 17:05] srd90 commented on #541
@hcldan Your use case sound like use case of `RelayState`.

source: https://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf

If that is the case see additional more down to earth description about `RelayState` e.g. from
- https://developer.okta.com/docs/concepts/saml/
- https://stackoverflow.com/a/34351756

Current state of `passport-saml`'s support for per request `RelayState` is

[2021-03-04 18:15] Tinadim commented on #320
@markstos I saw this issue while investigating an issue in my code and I was curious. `RelayState` is something supported by the code [as seen here](https://github.com/node-saml/passport-saml/blob/8a1a377f568fa017643404ba67127cd6928e1581/src/passport-saml/saml.ts#L243)
So I wonder, is there a reason why it is not mentioned in the README?

[2021-03-04 18:52] cjbarth commented on #320
I did note that we do handle RelayState and I've used it successfully before, so I know it works for at least some use-cases. It does appear that we need to document it though.

[2021-03-04 22:20] fluggo opened #549 "[BUG] TypeScript Strategy is incompatible with Passport Strategy"
Small bug: When using the types from the latest passport-saml, a new Strategy object can't be used in a passport.use() call.

**To Reproduce**

[code]

**Expected behavior**
The docs suggest this very usage, so it should pass TypeScript checks without errors. Unfortunately, the strategy's authenticate() method requires a [samlLogoutRequest](https://github.com/node-saml/passport-saml/blob/master/sr

[2021-03-04 22:43] cjbarth commented on #549
@fluggo What docs suggest this? I'm not sure what you're trying to accomplish here. Also, it seems you're missing a `)`, as there aren't enough, so the syntax isn't correct. Sorry if I'm missing something obvious.

[2021-03-05 03:15] fluggo commented on #549
Ah, you're right about the parentheses. Sorry, I was in a hurry, and was adapting my code. Let's try with a complete TypeScript file, this time directly from the main readme:

[code]

TypeScript gives this error:

![image](https://user-images.githubusercontent.com/2552507/110062335-b135e900-7d2e-11eb-9f4d-9333d0d314e9.png)

[2021-03-05 19:12] hcldan commented on #541
I think that might work. I'm going to close this until I have a chance to play with that.

[2021-03-05 19:12] #541 closed

[2021-03-05 19:37] cjbarth commented on #541
If you get it working using `RelayState` @hcldan , don't hesitate to update this projects readme file with a a PR :)

[2021-03-10 14:32] markstos commented on #537
No further follow up and it's not clear it's our bug. Closing.

[2021-03-10 14:32] #537 closed

[2021-03-10 14:36] markstos commented on #535
PR welcome. Also, if you can explain how this project is vulnerable to the `axios` vulnerablity, if at all, that's also helpful.

Note that `axios` is not a direct dependency, but  a sub-dependency.

[2021-03-15 13:26] Mikescops commented on #540
I confirm what @vbodnia says, please reopen this issue, it's a current bug in v2.0.5.

[2021-03-16 16:24] mhassan1 opened #556 "[BUG] Dependency on vulnerable version of `xml-encryption`"
This package has an exact dependency on `xml-encryption@1.2.1`: https://github.com/node-saml/passport-saml/blob/4d2b90938d6620b823e8f06176a18fb719f3a795/package.json#L56

`xml-encryption@1.2.1` has a dependency on `xmldom@~0.1.15`, which has an XXE vulnerability that has been patched in `xmldom@>=0.5.0`: https://github.com/auth0/node-xml-encryption/blob/9b6df94b0ea30ff7ff836c5e3bf8b328c6a69175/pac

[2021-03-16 20:37] forty commented on #556
Ah good point, I did not realize that the caret was missing. That said, xml-encryption has not released an update on npm (1.2.2 was released one month ago). I opened an issue to them.

[2021-03-16 21:39] cjbarth commented on #556
It appears that v1.2.2 has been released on npm now.

[2021-03-16 22:17] forty commented on #556
Yes but we need 1.2.3, which doesn't exist yet :( see https://github.com/auth0/node-xml-encryption/issues/82

[2021-03-18 08:02] jupenur commented on #556
Author of the original xmldom advisory here. The vulnerability has nothing to do with XXE. The advisory on Snyk is wrong, I don't know where they got it from. The actual vulnerability does not affect xml-encryption.

[2021-03-18 13:17] christian-hawk commented on #556
@jupenur thanks for the info regarding [CVE-2021-21366](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-21366)

Can you provide a (link to?) more technical explanation?

I see that Github is the **Assigning CNA**. Did github repplied to your false positive report?

Thanks

[2021-03-18 13:28] christian-hawk commented on #556
btw `xml-encryption` released `1.2.3` 4 hours ago @forty : https://github.com/auth0/node-xml-encryption/releases/tag/v1.2.3

[2021-03-18 13:30] jupenur commented on #556
@christian-hawk the vulnerability itself is real and not a false positive, it's just that it doesn't affect all downstream applications in the same way. GitHub is only involved as the assigning party for the CVE, but there's nothing to correct on the CVE either. The information on the CVE (on the MITRE website, on NVD etc.) is accurate, as is the information on the original advisory [here](https:/

[2021-03-18 13:40] benjhoo opened #559 "@type error on logout function"
Hi,
I'm trying de setting up SLO on my Express application, but i get a typescript error on the Request object passed to the logout function :

[code]

Error returned :

[code]

I've correctly configured the 'logoutUrl' in my SAML options.

How can I fill the samlLogoutRequest missing property ?

[2021-03-18 14:23] cjbarth commented on #559
Duplicates #549

[2021-03-19 13:44] #523 closed

[2021-03-19 21:43] cjbarth commented on #556
Closed by #566 and #567

[2021-03-19 21:43] #556 closed

[2021-03-22 14:08] #533 closed

[2021-03-25 16:38] mhassan1 opened #575 "[BUG] XML-encoded carriage returns are not resolved correctly"
**Background**

Earlier this week, Google rolled out a change to their GSuite SAML Apps IdP where the SAMLResponse contains XML-encoded carriage returns inside the `SignatureValue` and `X509Certificate` blocks.

For example, they started sending this (notice the `&#13;` at the end of each line):
[code]

At first, I thought this must be a bug introduced on their end, but I saw that both [samltool.c

[2021-03-25 18:28] markstos commented on #575
Thanks for the report.

[2021-03-30 20:52] cjbarth commented on #429
@markstos Is this something that we wanted to address for the upcoming v3 release?

[2021-03-30 21:00] markstos commented on #429
@cjbarth We could enable the first phase-- issuing warnings by default for algorithms that are insecure that we will be dropping in a future release.

Also, if we are able to enable the GCML algorithms to be in sync with the spec, we should (assuming they are still considered secure).

In version three, we could have an "insecure algorithms option" that defaults to true-with-warning, with the opti

[2021-03-30 21:34] cjbarth commented on #429
I was thinking that we could do like we did with a few other things and release a small PR for 2.x that has warnings and then just use the switch for the 3.x branch that we're building now.

[2021-03-31 02:06] #188 closed

[2021-03-31 02:07] #200 closed

[2021-03-31 02:14] cjbarth commented on #310
I think we are actively working in this direction now with all the refactor. I think we can close this.

[2021-03-31 02:14] #310 closed

[2021-03-31 02:16] cjbarth commented on #325
@markstos Is there more that needs to be done aside from documentation on this?

[2021-03-31 02:17] #337 closed

[2021-03-31 02:19] cjbarth commented on #333
This should be resolved now that we have a TypeScript-based version of `passport-saml` released.

[2021-03-31 02:19] #333 closed

[2021-03-31 02:25] cjbarth commented on #443
The author of that PR closed it without addressing review comments. We are preparing to release v3 in the next few weeks. If you're willing to create a PR for this fix, we'll try to work with you to get it landed.

[2021-03-31 02:29] cjbarth commented on #433
Can you please provide a sample of what you get and what you are looking for? We would typically refer you to look at a the Discussion page or StackOverflow if this is just a support question. If this is a missing feature, we welcome PRs.

[2021-04-02 13:36] markstos commented on #429
That works too.

[2021-04-02 14:03] cjbarth commented on #429
I'll gladly review a PR from you on that and I can probable make the 2.x deprecation version that matches the changes you make.

[2021-04-05 16:14] cjbarth commented on #540
Is this a bug at the `HEAD` of `master`?

[2021-04-05 18:30] cjbarth commented on #549
@fluggo I still can't seem to duplicate this problem. I've checked out `passport-saml` at `v2.0.5` and `npm install --save-dev @types/passport@1.0.6` and then put the following code in `passport-saml/src/test.ts` with the following code:

[code]

[2021-04-05 18:31] cjbarth commented on #543
@gtokarz We are preparing a 3.0 release. Would you be interested in getting this change up for PR in the next few weeks to make it in to 3.x?

[2021-04-05 20:00] fluggo commented on #549
Hmm. I can't explain it. I have one project where this fails, and a fresh project where this succeeds. I haven't yet figured out what the difference is between the two. I'll have to get back to you.

[2021-04-06 07:02] vbodnia commented on #540
@cjbarth Yes it is:

![image](https://user-images.githubusercontent.com/32565392/113671508-1f1f5880-96bf-11eb-9743-f8c8d4e433af.png)
![image](https://user-images.githubusercontent.com/32565392/113671523-234b7600-96bf-11eb-9dae-a5c5cd738852.png)
![image](https://user-images.githubusercontent.com/32565392/113671538-26466680-96bf-11eb-88cd-9b39c94d03e0.png)

[2021-04-06 13:55] cjbarth commented on #540
It seems this might be related to #549. Would you agree?

In any case, I can't see from your screen shot exactly what the problem is. Do you have some sample code I can load up?

[2021-04-06 19:11] hcldan opened #581 "[BUG] verify not being called when authenticating to a keycloak idp"
**To Reproduce**
I'm using a config that worked well enough when using it against adfs

**Expected behavior**
I'm expecting the verify method to be called, but it never does.  The logging does not output.
But it doesn't seem to fail to authenticate the post back

[code]

The dynamicReturn route gets called, and i don't see a redirect to '/'

**Environment**

- Node.js version:14
- passport-saml ve

[2021-04-06 19:27] #575 closed

[2021-04-06 19:32] cjbarth commented on #581
From your very simplistic sample code, it looks like you would only get redirected to `/` if there is a failure. So, it seems you should be happy you never get there.

[2021-04-06 19:50] hcldan commented on #581
@cjbarth I would be happy if the middleware actually called my verify function so that I could inspect the profile...   It doesn't get called.   What info can I get you?

Is there no logging in the middleware to help trace problems like this?

[2021-04-06 19:52] hcldan commented on #581
it works with adfs... so I'm puzzled why it's different here.

[code]

[2021-04-06 20:19] cjbarth commented on #581
You can just to go to the `node_modules` folder, and set all the logging and breakpoints you want in any file you want, including `passport_saml` :) You probably want to have a look at `strategy.ts`.

[2021-04-06 20:22] cjbarth commented on #475
@gugu , can this be closed?

@avilashchoudhary6681, @borisbc, @amerblackbird: do you still have this issue even on the 2.x branch?

[2021-04-06 20:25] #581 closed

[2021-04-07 01:53] fluggo commented on #540
The screen shot doesn't show it, but the original description is very similar to mine. I haven't gone back with tweezers yet to figure out where mine went wrong.

[2021-04-07 03:13] fluggo commented on #549
Okay, this *has* to be a bug in TypeScript. Check this out:

[code]

TypeScript should be calling out errors on the assignments to cc, ee, ff, and gg because B is not assignable to A, but it's only seeing errors on the assignments to ee and gg. This program crashes, by the way, because dd.authenticate() receives an object that's the wrong shape.

[2021-04-07 03:49] fluggo commented on #549
One deep dive later, and I think I'm a little closer to understanding what's going on here—not exactly, but the above assignability behavior comes from strictFunctionTypes, which has the [caveat](https://github.com/microsoft/TypeScript/pull/18654) that function arguments (including functions as object properties) are considered contravariant under this flag, but method arguments are considered biv

[2021-04-07 20:53] vbodnia commented on #540
@cjbarth

1. Version 2.0.5 and 2.1.0, definitely typed pkg removed. Gives the error of incompatible req type because we are extending express request with custom fields, as well as it is done in the passport-saml.
Please see screenshots below:

![image](https://user-images.githubusercontent.com/32565392/113932527-652e0680-97fc-11eb-9412-0377595a643a.png)
![image](https://user-images.githubusercont

[2021-04-07 21:00] Mikescops commented on #540
I think the fix #554 by @forty solves this issue but it should be backported to 2.x

[2021-04-11 20:59] #539 closed

[2021-04-28 16:49] davvvid1 commented on #581
@hcldan did you resolve the issue? I also have the same problem - my verify function is not called. I am using keycloak as idp.

[2021-04-28 18:40] hcldan commented on #581
I did... i had something eating an error in my callback... it was being called, but it failed before anything meaningful happened.

[2021-05-06 13:05] aeaton-overleaf commented on #406
It does seem strange that passport-saml has an `attributeConsumingServiceIndex` option, but nothing in the function which builds the metadata that would add an `AttributeConsumingService` block.

https://github.com/node-saml/passport-saml/blob/54a1e0457f8e59a9b6947894072f7f9fb2bf8387/src/node-saml/saml.ts#L1314-L1407

[2021-05-06 14:15] aeaton-overleaf commented on #406
Maybe something like this, at the end of `generateServiceProviderMetadata`?

[code]

https://wiki.shibboleth.net/confluence/display/CONCEPT/MetadataForSP#MetadataForSP-DocumentingAttributes

[2021-05-07 10:38] rebornjoe opened #585 "Embed SAML Verification Signature (the SP Signing Public Cert) to the the AuthnRequest"
I've tried to look for any references to do this but thought that it might not be possible with the library.  Some Identity Providers require that the signing certificate be embedded in the AuthnRequest in order for the IdP to verify the request as well as match the subject DN and confirm if the certificate was signed by a CA.

[2021-05-07 21:08] mhesler74 commented on #528
Any ETA on when this will be included in a release?

[2021-05-10 15:28] cjbarth commented on #528
I believe this is part of the v3 release, which is held up due to some missing code reviews. See https://github.com/node-saml/passport-saml/milestone/1.

[2021-05-10 19:17] #429 closed

[2021-05-10 23:07] rebornjoe commented on #585
Hello!  I was looking to implement/make use of something like the AuthnRequest below with an HTTP-POST Binding and including the x.509 public certificate in the key info as part of the signature.

In the core specification, [](http://www.oasis-open.org/committees/download.php/35711/sstc-saml-core-errata-2.0-wd-06-diff.pdf) , there are references to <ds:KeyInfo> like page 20 (line 824)

[code]

[](

[2021-05-12 13:00] cjbarth commented on #535
Resolved by #588 .

[2021-05-12 13:00] #535 closed

[2021-05-13 08:09] kriss1897 commented on #543
@cjbarth @gtokarz Is it okay if I raise a PR for this?

[2021-05-13 12:56] cjbarth commented on #543
@kriss1897 sure, anything with a `pr-welcome` tag we are happy to have someone help with. Please make sure to include tests for this.

[2021-05-14 08:21] gtokarz commented on #543
yes, go ahead with PR

[2021-05-15 06:51] kriss1897 commented on #543
@cjbarth @gtokarz I've raised a PR for fixing this, however I'm unable to assign any reviewers. Please take a took when you guys have time.

[2021-05-17 13:49] cjbarth commented on #295
The [passport-saml](https://github.com/node-saml/passport-saml) project has been forked to a [node-saml](https://github.com/node-saml/node-saml) project which focuses on the SAML part of [passport-saml](https://github.com/node-saml/passport-saml). Work in that repo will focus on stripping out the [Passport](https://github.com/jaredhanson/passport)-related code and having only what is needed for SA

[2021-05-17 13:49] #295 closed

[2021-05-17 13:51] cjbarth commented on #540
v3 of `passport-saml` has been released. If there is a PR to backport #554 to 2.x, we'll look at it there.

[2021-05-17 13:51] #540 closed

[2021-05-17 13:52] cjbarth commented on #549
A significant refactor has taken place for the 3.0.0 release. If this issue persists in that release, please reopen this issue.

[2021-05-17 13:52] #549 closed

[2021-05-17 13:53] #325 closed

[2021-05-20 19:16] christian-hawk opened #597 "3.0.0 Breaking changes not specified either in Changelog or release notes"
On release notes:

On [CHANGELOG.md](https://github.com/node-saml/passport-saml/blob/master/CHANGELOG.md):
<img width="849" alt="image" src="https://user-images.githubusercontent.com/59786962/119035922-81d66600-b986-11eb-9be8-db3503e21ee5.png">

There is currently no information about `v3.0.0`  **or** about **any Breaking Change** in CHANGELOG.

[2021-05-20 21:44] cjbarth commented on #597
I'd say this is a bug. I just want over to see what could be the problem and found it is a bug in our changelog generating tool: https://github.com/github-tools/github-release-notes/issues/116.

[2021-05-21 01:50] christian-hawk commented on #597
I see @cjbarth  It looks like an old one.
Meanwhile is it possible to get  a small explanation of what are the breaking changes from 2.x to 3.x?

Lemme know if I can help somehow.

Thanks

[2021-05-25 15:15] serhalp commented on #597
It seems that the 3.0.0 release notes are just incorrectly called "2.2.0". So the release notes are the ones in your screenshot.

[2021-05-25 20:39] taksan commented on #521
@jasonrappaport

I know this issues is closed as it should be, but I would like to contribute with a solution. In fact, the problem isn't related with passport-saml, but with xwikjs saml + google workspace configuration.

I had to debug wikijs to figure out the issue. To make this work:

1. On the IDP you must map the email address to a field (for example, emailAddress)
2. On WikiJS, go to the SAM

[2021-05-26 12:58] thenengah commented on #479
[code]
Ah, this broke us too. We locked it to `1.4.0` until things are stable.

[2021-05-27 02:20] christian-hawk commented on #597
Thanks @serhalp . It seems or are you sure about it?

So as breaking change we have
1. **Not supporting anymore deprecated `privateCert`.** Ok so if we use `privateCert`, code will break. Pretty clear.
2. **Node-saml separation.** About this, is not clear. When would code break? I never found myself using node-saml explicitly when coding.

Thanks

[2021-05-27 07:26] kdhttps opened #602 "Feature: add facility in config to add `<Extensions>` element in SAML request"
I've checked all the [config parameters](https://github.com/node-saml/passport-saml#config-parameter-details) but didn't find any config to add `<Extensions>` element in SAML request like below:

[code]

Thank you!

[2021-05-28 21:34] srd90 commented on #602
There is unfinished Extensions related pull request #147

---

Not directly related to your issue but more like a FYI:

Based on your example (vetuma language code extension) you are most probably going to use suomifi IdP and that you are using HTTP-Redirect binding for authn request.

According to suomifi IdP's `Technical interface description` https://palveluhallinta.suomi.fi/en/tuki/artikkelit/

[2021-05-31 13:41] cjbarth commented on #479
The 1.x branch isn't being actively maintained anymore. The 2.x branch has received several updates, even recently. The 3.x branch has just been released. You might try seeing if the newer branches work for you.

[2021-05-31 13:53] thenengah commented on #479
@cjbarth Thanks for the tips. I'll check it out and report back.

[2021-05-31 14:13] cjbarth commented on #597
I've created a PR to fix the changelog: https://github.com/node-saml/passport-saml/pull/605

[2021-05-31 14:14] cjbarth commented on #597
@christian-hawk The `node-saml` separation work shouldn't have caused any breaking changes, but it was a major refactor and a lot of code moved, so there is a strong potential for breakage if you depended on anything but the strict `passport-saml` API.

[2021-06-01 15:04] christian-hawk commented on #597
@cjbarth thanks for that. Maybe is not a **breaking change**, then? Anyway would be nice to have the information you just provided in `CHANGELOG.md`

[2021-06-04 13:11] christian-hawk commented on #597
@cjbarth maybe also add to breaking change changelog information that `cert` is required:
[code]

[2021-06-04 13:12] cjbarth commented on #597
@christian-hawk Please look at the PR referenced above for the corrected changelog.

[2021-06-05 17:56] rskvazh opened #606 "[BUG] 3.0.0 typescript compiler: Could not find a declaration file for module 'passport-strategy'"
**To Reproduce**

1. `npm install passport passport-saml @types/passport`
2. `tsc`

Got error:

[code]

**Expected behavior**

`npm i --save-dev @types/passport-strategy` fixed the error and successfully compiled, but I think this should be fixed in a passport-saml package.

**Environment**

- Node.js version: v14.15.1
- passport-saml version: 3.0.0
- typescript: 4.3.2

[2021-06-07 18:05] markstos commented on #606
The problem here was that you didn't include `--dev` in your original install statement. We already have the correct version of `@types/passport-strategy` as a dev dependency.

The module is not needed for "production" installs, so it's correct that we don't have it as a production dependency.

[2021-06-16 11:21] ssypi commented on #444
I don't know what the spec says, but it is quite normal in federated identity systems to have two certificates during rollover period when changing the certificates. Also other service provider softwares such as Shibboleth service provider support this as well.

[2021-06-16 13:16] christian-hawk commented on #597
thanks @cjbarth

[2021-06-16 14:16] #597 closed

[2021-06-17 08:13] kdhttps commented on #602
PR created https://github.com/node-saml/passport-saml/pull/607

[2021-06-17 21:01] cjbarth commented on #419
The approach that we seem to be taking with the code the way it is relies on the correct implementation of Express and Passport: https://www.passportjs.org/docs/logout/ and https://www.passportjs.org/docs/configure/ ("sessions" section). You might also reference https://stackoverflow.com/questions/22052258/what-does-passport-session-middleware-do.

The problem that is being exposed is that `passpo

[2021-06-17 21:03] #543 closed

[2021-06-28 09:32] ta1234456 opened #616 "How to get relayState"
my call back can't handle req.body.relayState

[2021-06-28 09:33] ta1234456 commented on #616
i update lib version 0.33.0 to lastest

[2021-06-28 15:02] #616 closed

[2021-06-30 12:16] aw1875 opened #618 "Error: key encryption algorithm not supported"
I am trying to use this package to help facilitate authentication with my school's shibboleth login. It seems like I have set everything up correctly but I am getting this error returned after I get sent to my callback route:

[code]

I've tried messing with the signing using `signatureAlgorithm` and nothing seems to work. I'm not entirely sure if this is an issue related to passport-saml or somet

[2021-06-30 13:14] cjbarth commented on #618
`oaep` encryption isn't supported, just as the error message says; you need to use a supported encryption algorithm, which should match what your IdP uses. See https://github.com/node-saml/passport-saml/blob/f1e00b64c21a725f545e675cd810bbaa435a3972/src/node-saml/saml.ts#L1403

[2021-06-30 13:14] #618 closed

[2021-06-30 13:22] aw1875 commented on #618
@cjbarth I understand that `oaep` isn't supported but wasn't 100% sure so appreciate that! Is this related to decrypting the response returned from my IdP? Also, I see the file you attached shows me what is supported, is there some way to specify using one of these methods instead or did I just miss that in the documentation?

[2021-06-30 13:23] cjbarth commented on #618
Your IdP should ingest the metadata from `passport-saml` and only use supported encryption. That list I referenced is in the metadata.

[2021-06-30 13:30] aw1875 commented on #618
Thank you! I have reached out to my IdP to make sure this can be sorted out appropriately. Appreciate your help!

[2021-06-30 23:16] cjbarth commented on #348
The latest versions of `passport-saml` and `node-saml` are written in TypeScript, so external types are no longer required.

[2021-06-30 23:16] #348 closed

[2021-07-02 04:02] blackpuppy commented on #157
I got the same problem, that is, not able to pass `additionalParams` in the second argument to `passport.authenticate()`.  And eventually found the following solution.  Note that I am using TypeScript.

[code]

TypeScript checks the 2nd argument against the `AuthenticateOptions` defined in `passport`, and it does not have `additionalParams`, so there is a type error.  Using the `AuthenticateOption

[2021-07-07 03:54] stevenfukase opened #620 "[BUG] Can't run server after updating to v3.1.0"
Hi.

I updated to v3.1.0 and when I build my project, the following error appears and can't run the server.

[code]

The part where the error is happening is in the package:
(/workspace/aaa/node_modules/passport-saml/lib/node-saml/saml.js:5:30)
[code]
Perhaps there is a mistake how the debug package was imported?

**Environment**
- Node.js version: v14.17.1
- passport-saml version: ^3.1.0

[2021-07-07 14:02] cjbarth commented on #620
What was the previous version you had installed?

[2021-07-08 02:14] stevenfukase commented on #620
It's 1.0.0

[2021-07-08 15:39] cjbarth commented on #620
There are lots of breaking changes between 1.0.0 and 3.1.0. You might want to start with upgrading to 1.5.0 ( `npm install passport-saml@1`), which is the latest in the 1.x series and making sure that works. Then upgrade to `passport-saml@2`, and make sure that works. Then, upgrade to `passport-saml@3`. The release notes along the way might prove helpful to read too.

[2021-07-08 15:39] #620 closed

[2021-07-08 23:42] stevenfukase commented on #620
Thanks for the support!

[2021-07-09 04:43] LilElviss opened #621 "[BUG] It keeps saying this error when theres nothing wrong could you help me?"
It keeps saying this error: Error: Cannot find module 'C:\Users\sofia\Documents\DiscordBot\main.1s'. Please verify that the package.json has a valid "main" entry
←[90m    at tryPackage (internal/modules/cjs/loader.js:321:19)←[39m
←[90m    at Function.Module._findPath (internal/modules/cjs/loader.js:534:18)←[39m
←[90m    at resolveMainPath (internal/modules/run_main.js:16:25)←[39m
←[90m    at Funct

[2021-07-09 14:48] cjbarth commented on #621
I'm sorry you are getting errors. Unfortunately, there isn't enough information here for anyone to help you.

[2021-07-09 14:48] #621 closed

[2021-07-19 14:03] aw1875 commented on #618
@cjbarth Hi sorry another quick question when you have a moment. I reached out to my IdP and they have modified the metadata so that issue is fixed. I am now getting another issue and just wanted to double check if I have an understanding of the reason why. I am now getting:

[code]

I noticed that my SSL certificate has expired so I figured it was due to this issue. Am I correct in assuming this

[2021-07-20 15:23] srd90 commented on #137
AFAIK there is going to be another major version upgrade due separation of `passport-saml` and `node-saml`.

It could be a good place to make `audience` checking ( which was implemented at #253 ) mandatory configuration value. At the moment someone could replay one login response to multiple service providers which use passport-saml (and which have not enabled `audience` checking) as long as those

[2021-07-25 05:34] aw1875 commented on #618
Hi @cjbarth my IdP has modified the metadata to solve the initial issue. However, I now have this issue whenever I am sent to my callback route:

[code]

I've found a few sites talking about this issue but they are all related to the cert. I have checked the cert and compared it with the metadata and it is all accurate so I'm not entirely sure what the issue is.

[2021-07-27 20:57] UIDecypher opened #624 "[BUG] XML Entity Expansion Injection"
Recently, vulnerability scanning tools discovered "a vulnerability" with our project which has an integration with passport-saml. Although our nodejs server functions use sanitized JSON for inbound communication, it was discovered that through the passport-saml authentication process we have inbound SAML XML. The security team wanted assurances that passport-saml wasn't vulnerable to this attack.

[2021-07-28 13:32] markstos commented on #624
@UIDecypher This a volunteer-staffed project and we would welcome your help investigating this. By reviewing the source, you can confirm which libraries we use for XML parsing, and then visit the projects for the dependency and confirm if they are patched for this issue.

I'm also moving this to a "Discussion" for now, because you are asking if the project is vulnerable, not reporting that you've

[2021-07-28 13:33] #624 closed

[2021-07-29 12:30] #453 closed

[2021-08-03 21:33] aw1875 opened #627 "Error: Invalid signature from encrypted assertion"
Hi there! I had another issue stemming from the [key encryption algorithm](https://github.com/node-saml/passport-saml/issues/618) not being supported a little while back which has now been solved by my IdP. Now it seems that after a successful login I am redirected back correctly but presented with this error:

[code]

I believe this is related to my cert and key (correct me if I'm wrong please) b

[2021-08-06 05:33] TTmaister opened #628 "[BUG] Vulnerability dependency library xmldom"
I noticed that xmldom library <0.7.0 on vulnerability.
https://github.com/xmldom/xmldom/security/advisories/GHSA-5fg8-2547-mr8q

[2021-08-06 07:27] forty commented on #628
See https://github.com/xmldom/xmldom/issues/271

I don't know what others thinks, but my intuition is that since it impacts serialization rather than parsing, it should not be too bad for passport SAML.

I'm not sure if if worth somehow vendoring the dependency in the meantime.

[2021-08-06 08:16] forty commented on #628
My bad, actually it could very well impact us, see https://mattermost.com/blog/securing-xml-implementations-across-the-web/

Not sure why but we are re-stringifying things before reparsing https://github.com/node-saml/passport-saml/blob/3.x/src/node-saml/saml.ts#L790

That doesn't seem like a good idea, though there might be good reasons why we would do that.

[2021-08-06 09:12] TTmaister commented on #628
Sounds like a plan. Personally, I don't know the passport-saml node application so well that I could just go change the version number reference and try it in a private repository.

[2021-08-20 04:14] shubham-bibliu commented on #628
New version 0.7.0 is available now [/@xmldom/xmldom](https://www.npmjs.com/package/@xmldom/xmldom).
[xml-crypto](https://www.npmjs.com/package/xml-crypto) already [updated](https://github.com/yaronn/xml-crypto/blob/master/package.json#L13)

[2021-08-20 09:32] forty commented on #628
We will have to wait for 0.7.2 (at least, if I did not miss something again ^^) as there are types issues currently.

Relevant PR is here https://github.com/xmldom/xmldom/pull/288. xmldom maintainer is very reactive and helpful, so it should be merged quickly.

[2021-08-20 09:43] forty commented on #628
Note that xml-encryption hasn't updated yet, and it might very well never happen, given the activity on that repo.

PR is here https://github.com/auth0/node-xml-encryption/pull/88

[2021-08-20 21:42] forty commented on #628
https://github.com/node-saml/node-saml/pull/17

[2021-08-23 22:24] sgrbhinge commented on #272
Thanks brother, it helped.. :)

[2021-09-02 05:47] PCOffline commented on #628
Has this been resolved with v3.1.2? If so, let's close this issue

[2021-09-02 18:19] markstos commented on #628
According to the Release notes for 3.1.2, yes.

https://github.com/node-saml/passport-saml/releases/tag/v3.1.2

[2021-09-02 18:19] #628 closed

[2021-09-05 14:38] soletan commented on #544
`req.res` is [used in passport-saml](https://github.com/node-saml/passport-saml/blob/bba77bcc8030c633a2df5dd25f5c86f6caef5ce8/src/strategy.ts#L133) but it doesn't seem to be a documented feature of express. If you are using something express-compatible, it might miss this relation being set up.

[2021-09-06 01:13] nagarajanceg opened #636 "[BUG]"
The application using single sign on flow in Azure AD using the npm package [passport-saml][1].

Application built in nodejs express framework.

passport saml Configuration looks like this snippet:

filename - config.js

[code]
**In the above config entry point & logoutUrl is same. 1) Is it possible to have same URL for both logout & login(entry point) in passpor-saml?**

Code snippet for express

[2021-09-06 23:47] srd90 commented on #636
@nagarajanceg sorry, not going to go through how to trigger `LogoutRequest` from your service to IdP because:

Big picture seems to be that you want to have fully functional SAML SLO meaning that you want to have also handling of `LogoutRequest` sent by IdP to your service and responding to IdP with proper `LogoutResponse`.

IdP sends `LogoutRequest` to your service if your service is one of those

[2021-09-07 22:20] srd90 commented on #542
It seems that this passport-saml issue's roots and actual business case issue was old issue at [GluuFederation/gluu-passport](https://github.com/GluuFederation/gluu-passport) repository and later that particular issue https://github.com/GluuFederation/inbound-saml/issues/1 triggered creation of [GluuFederation/inbound-saml](https://github.com/GluuFederation/inbound-saml)  repository and it became

[2021-09-09 06:00] trmpowell opened #637 "Incorrect references to xmldom"
**To Reproduce**

npm i --save passport-saml@latest
Search `/node_modules/passport-saml` for `xmldom`
You'll find `/lib/node-saml/xml.js` correctly requires `@xmldom/xmldom`
but files:
- /lib/passport-saml/saml.js
- /lib/passport-saml/xml.js
- /lib/src/passport-saml/saml.js

are incorrectly requiring `xmldom`.

When we build our application with this version of passport-saml, we are seeing this er

[2021-09-09 06:02] trmpowell commented on #636
@srd90, we have tried to upgrade to `3.1.2` for the xmldom security update you mention, but we have run into this issue:
https://github.com/node-saml/passport-saml/issues/637

[2021-09-09 19:10] srd90 commented on #637
It looks as if https://registry.npmjs.org/passport-saml/-/passport-saml-3.1.2.tgz  (and quite a few other 3.x.x packages) would have been built and packaged from "non-clean" environment because `passport-saml` directory contains e.g. `xml.js` which was moved to `node-saml` directory. I.e. its as if package would contain 2.x.x stuff also (which would explain why there are few files which reference

[2021-09-09 21:29] markstos commented on #637
Thanks for bringing this to our attention.

@cjbarth are you able to repackage in a clean environment?

On Thu, Sep 9, 2021 at 3:11 PM srd90 ***@***.***> wrote:

--

*Mark Stosberg* (he/him)

Director of Systems & Security

***@***.*** | 765.277.1916

https://www.rideamigos.com <https://rideamigos.com/>

Changing the way the world commutes.

<https://www.linkedin.com/company/rideamigos>
<https://w

[2021-09-10 23:31] srd90 commented on #636
@nagarajanceg just one random side note:
based on code snippet that you posted to this bug report (quote from report):

you have not enabled `audience` validation meaning that your service is/would be open to authentication bypass vulnerability. If someone replays against your service an authnresponse which was originally sent to some other SP which uses same IdP as your service and if/when IdP us

[2021-09-12 17:45] srd90 commented on #520
The reason why I rushed to comment `22th Jan 2021` @giacomobartoli ’s solution he presented earlier at the same day is that it is NOT anything shibboleth specific and furthermore that it is **very unsecure configuration**.

Another reason for rushing was that there is/was danger that someone finds @giacomobartoli 's configuration set and does not try to understand side-effects of copy pasting thos

[2021-09-14 18:02] #636 closed

[2021-09-14 18:03] #542 closed

[2021-09-20 01:16] trmpowell commented on #637
@cjbarth @markstos, any idea when this might be resolved?

[2021-09-20 13:04] cjbarth commented on #637
I hesitate to just repackage as-is. I'll update all the dependencies, make sure I do a `git clean -xfd`, and then package. Will that work?

[2021-09-20 14:30] cjbarth commented on #637
I've created a PR for this: https://github.com/node-saml/passport-saml/pull/640

Once this lands, I'll call it a 3.2.0 release and get it out.

[2021-09-20 17:46] #424 closed

[2021-09-20 17:47] cjbarth commented on #332
Closed due to inactivity.

[2021-09-20 17:47] #332 closed

[2021-09-21 04:59] jyenduri-uptycs opened #642 "[BUG] Wrong readme example for authnContext for ADFS"
** Spec-driven development **

This project is focused on compliance with the SAML 2.0 specification. For any bug report that
involves the SAML spec, please link to the related parts of the spec and quote the passages too.

Start here: http://saml.xml.org/saml-specifications

You might also check the spec to confirm that it doesn't address your particular bug and mention
that you found no referenc

[2021-09-21 14:05] #154 closed

[2021-09-21 14:07] #91 closed

[2021-09-21 14:09] cjbarth commented on #109
The user profile object is now much more robust, and includes the native XML object if needed.

[2021-09-21 14:09] #109 closed

[2021-09-21 14:11] #150 closed

[2021-09-22 14:09] jyenduri-uptycs commented on #642
@cjbarth  Can you please look at this pull request https://github.com/node-saml/passport-saml/pull/647

[2021-09-25 01:40] cjbarth commented on #637
Version [3.2.0](https://github.com/node-saml/passport-saml/releases/tag/v3.2.0) was released. This should fix the issue.

[2021-09-25 01:40] #637 closed

[2021-09-28 16:43] colmaengus commented on #438
I'm also seeing this problem using Keycloak. I'm not a SAML expert from looking around it seems that its correct behaviour to return a LogoutResponse. For example if you search for LogoutResponse in http://docs.oasis-open.org/security/saml/Post2.0/sstc-saml-tech-overview-2.0.html

[2021-09-28 17:09] colmaengus commented on #438
Changing to the following xpath supports both Response and LogoutResponse
`const inResponseToNodes = xml_1.xpath.selectAttributes(doc, "/*[local-name()='Response' or local-name()='LogoutResponse']/@InResponseTo");`

[2021-09-29 12:58] ctaschereau commented on #642
Agreed. This appears to be an undocumented breaking change with the version 2.x since we had working code passing only a string as an authncontext before...

[2021-09-30 15:01] cjbarth commented on #642
I found the commit that created the break. It was my [commit](https://github.com/node-saml/passport-saml/pull/548), and I overlooked updating the documentation. Thanks for catching this.

[2021-10-01 14:59] cjbarth commented on #406
@aeaton-overleaf , are you willing to put up a PR for this?

[2021-10-01 16:09] cjbarth commented on #627
There isn't much to go on here, so this isn't really a bug. I'll make this a discussion so more dialog can be had there.

[2021-10-01 16:09] #627 closed

[2021-10-01 17:53] cjbarth opened #653 "Remove unmaintained `should.js`"
[should.js](https://github.com/shouldjs/should.js) is unmaintained. It should be removed from `passport-saml`.

[2021-10-01 19:31] cjbarth commented on #544
I see your point here. I typically use the redirect binding, so I don't see this. It seems like this is undocumented, but it is a very valid command as can bee see [here](https://github.com/expressjs/express/blob/06d11755c99fe4c1cddf8b889a687448b568472d/lib/middleware/init.js#L31). This was added in [this](https://github.com/expressjs/express/commit/fd67c9a5898d0deb859fad6b810244dcc9328c80#diff-ac

[2021-10-04 13:45] aeaton-overleaf commented on #406
@cjbarth I'm not planning to work on this immediately, but a colleague may be able to write up a PR later this year (pending other priorities - let me know if there's a need for it sooner).

[2021-10-04 18:29] cjbarth commented on #438
@colmaengus Thank you for this find. Would you be wiling to create a PR to address this? I'd be happy to review it. Please make sure your PR includes a test that fails when your fix isn't applied, but passes when it is (TDD). We don't want to regress on this later on.

[2021-10-04 20:39] cjbarth commented on #406
As this is a community-driven project, we look forward to, and depend upon, those that notice missing features putting up a PR to fill that need. The maintainers will be here to help the PR along.

[2021-10-05 03:36] trmpowell commented on #637
Thanks, @cjbarth ! We will give it a shot!

[2021-10-08 15:25] cjbarth commented on #167
Do you know which fork? It would be nice to have that fork contribute back to this project if at all possible.

[2021-10-08 16:20] rayfoss commented on #167
@cjbarth it's old https://github.com/DmtrPn/passport-saml

He took a Tailor made brute force approach to the problem... It would be more helpful to have a more general solution that might be useful even outside of Google... Like Instagram login, Twitter or other edge cases, perhaps automated testing or staging and contractor accounts.

[2021-10-25 13:49] kging2003 opened #656 "npm install passport-saml@3.x fails with Node 0.10"
hello , any help please ?

i was able to install passport but not passport-saml

npm --https-proxy=http://my-proxy install passport-saml -g

i got this error

328 silly addNameRange versions [ undefined, [] ]
329 error TypeError: Cannot read property 'latest' of undefined
329 error     at next (/usr/lib/node_modules/npm/lib/cache.js:687:35)
329 error     at /usr/lib/node_modules/npm/lib/cache.js:6

[2021-10-25 14:28] #656 closed, assigned to nobody

[2021-11-11 22:27] crossan007 commented on #157
To piggyback on @blackpuppy 's response here, you can also inline-typecast the `<AuthenticateOptions>` inside your Express route definition (assuming you added the import: `import { AuthenticateOptions } from "passport-saml/lib/passport-saml/types";`)

[code]

[2021-11-12 16:06] crossan007 commented on #439
I'm in the same situation here;  I have an unverified SAMLResponse which I want to verify; however, I have multiple potential SAML IdP configurations which could be used to verify the response.

Only one of the providers will actually verify the SAMLResponse (since the cert is unique), but I want to know _which_ provider configuration I should return from `getSamlOptions` given the current respons

[2021-11-12 17:00] crossan007 commented on #439
For anyone looking to solve this problem in a different way: look at using `RelayState`.

In `getSamlOptions` , you have access to the request body from the IdP's SAMLResponse.

If you set a `RelayState` on the SAMLRequest containing the name of the provider configuration you want Passport to use, you can simply consume that value within `getSamlOptions`

[2021-11-16 14:39] crossan007 commented on #334
It seems like 3.2.0 no longer defaults to `InMemoryCacheProvider` for `MultiSamlStrategy`  (possibly as of 224f25f71156a5908fc214bd146ad6e8274a0a9f).

Any ideas if this was an intentional change?

It seems like I should still be able to explicitly define a `InMemoryCacheProvider`  in my initialization options as  `cacheProvider`

[2021-11-17 00:13] cjbarth commented on #157
What version of `passport-saml` are you using @blackpuppy , @crossan007 ?

[2021-11-17 00:55] cjbarth commented on #439
@crossan007 that is a valid, spec-compliant way of using RelayState. RelayState is supposed to round-trip from the IdP untouched for just such a purpose. Or, redirecting after login, or whatever, it is your payload.

[2021-11-17 01:11] cjbarth commented on #334
What is the last version that worked as you expected @crossan007 ?

[2021-11-17 03:55] crossan007 commented on #334
I'm not actually sure.

I'm working on a new project and attempting to use the library.

I was searching through issues when I found the addition of the default cache provider for multi saml, and then dug through the commit history to locate where the default cache provider was removed when I realized what was added doesn't seem to work

[2021-11-17 14:10] crossan007 commented on #157
[code]

[2021-11-17 14:49] cjbarth commented on #334
If my memory serves me correctly, this was removed because we want consumers to be explicit about which cache provider they use. Feel free to specify an InMemoryCacheProvider yourself during construction. I see that this change was made for the 3.0.0 release. It is possible that some documentation is out of date. Please feel free to create a PR to fix any documentation.

[2021-11-24 10:03] ganesha289 commented on #585
@rebornjoe, Did you get any resolution for this? I'm facing the same issue and not able to add "KeyInfo" in AuthnRequest.

[2021-11-24 11:44] prasad-mhatre-incontact commented on #585
Same error for me too. Any further work has been done here?

[2021-11-24 17:38] cjbarth commented on #585
As mentioned above, we are eager to have the community help enhance this project through contributions. Please feel free to submit a PR to add these features and the maintainers will do their best to help get it landed.

[2021-11-30 11:08] keyCat opened #659 "[ENHANCE] Ability to generate your own Request ID"
Hello. I am not sure if this request is more related to `passport-saml` or `node-saml` package, but probably to both.
I've encountered a use-case where I'd like to be able to generate my own unique request ID.

**Is your feature request related to a problem? Please describe.**
I would like to be able to store associated data using a Request ID, so later I can retrieve this data from my own store d

[2021-11-30 14:58] cjbarth commented on #659
Do you mean something like this? https://github.com/node-saml/node-saml/pull/30

[2021-11-30 15:05] keyCat commented on #659
@cjbarth Yes! I didn't notice initially that this was already in the works. Thanks!

[2021-11-30 15:44] cjbarth commented on #659
Feel free to put up a PR with documentation on how to use it.

[2021-11-30 21:20] #659 closed

[2021-12-06 17:26] BigForNothing commented on #606
Can we reopen this? This is not the solution. @types/passport-strategy should be part of the dependencies, and not the devDependencies.

[2021-12-06 19:46] cjbarth commented on #606
Types should always be installed as dev dependencies. See https://github.com/DefinitelyTyped/DefinitelyTyped#npm

[2021-12-06 21:49] BigForNothing commented on #606
Their docs are (sort-of) wrong. See the official typescript website [documentation](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#dependencies) for publishing:

The "sort-of" is because it should go in to `devDependencies` if you aren't publishing (which is what your link. If you are and someone is consuming it (like passport-saml), it goes into dependencies.

For

[2021-12-07 19:16] cjbarth commented on #606
I follow what you are saying, but I'm still not clear about your specific use-case. If you are using Passport and Passport Strategies with TypeScript, why wouldn't you include the types you need? Otherwise, what is deficient about the types that `passport-saml` exports?

It seems that a consumer of `passport-saml` shouldn't be using any version of, for example, `debug` obtained as a dependency of

[2021-12-07 22:23] BigForNothing commented on #606
[code]

I'm not the developer of our package that is using passport-saml. `@types/passport-strategy` triggered as "unused" by depcheck, which is why I even started looking into this. If `@types/passport-strategy` was included, this error wouldn't be a problem. It's been the [expectation for years](https://web.archive.org/web/20160928060100/https://www.typescriptlang.org/docs/handbook/declaration-f

[2021-12-07 22:49] cjbarth commented on #606
Thank you for providing the error you are seeing. I'll investigate. It seems that we might be `extends`ing a `passport-strategy` type from `@types/passport-strategy`. In that case, we'll either need to do as you say, or fix our types.

[2021-12-12 09:37] srd90 commented on #659
@keyCat wrote:

SAML standard has `RelayState` for that kind of use cases. See more e.g. from: https://github.com/node-saml/passport-saml/issues/541#issuecomment-788111948

Furthermore it seems that `passport-saml`'s `RelayState` support has had updates recently (see discussion from issue https://github.com/node-saml/passport-saml/issues/157 ).

If you (@keyCat) choose to solve your issue with cus

[2022-01-06 14:12] ganesha289 commented on #585
@cjbarth, PR raised for this issue fix. Can you please review..
PR - https://github.com/node-saml/node-saml/pull/36

[2022-01-19 10:29] alexross1988 opened #666 "CVE-2022-0122 - Update xml-encryption (fixed in 3.x, pending for 4.x)"
In the latest 3.2.0, `xml-encryption` is currently using a version of `node-forge` with a CVE.
Bumping to 2.0.0 here https://github.com/node-saml/passport-saml/blob/v3.2.0/package.json#L57 would solve this following the work they've done under https://github.com/auth0/node-xml-encryption/issues/94

[CVE-2022-0122](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-0122) (severity: High)

[2022-01-19 13:03] forty commented on #666
There it it https://github.com/node-saml/passport-saml/pull/667 (this is for branch 3.x, I'll do the same on master later if no one else does it before)

[2022-01-19 16:59] s-shiva1995 commented on #581
@hcldan can you explain the steps you did to fix this issue, I am facing similar issue in which redirection and login is success but verify callback is not getting triggered. Thanks.

[2022-01-19 16:59] markstos commented on #666
@forty Patching the master branch as well would be great, thanks.

[2022-01-19 18:56] hcldan commented on #581
i put a try {} catch with a log around my callback and saw i was erroring.

[2022-01-20 05:48] s-shiva1995 commented on #581
I already did that but don't see any error, the callback is not even triggered. Thanks for your input.

[2022-01-20 11:54] kemarsh commented on #666
Thanks for the quick response - is there an ETA for when the updated 3.2.X version will be published to NPM?

[2022-01-20 22:16] markstos opened #668 "[BUG] test failure in 3.2.0 in "captured SAML requests / Logout" in capturedSamlRequests.ts"
**To Reproduce**

With Node 12 and Node 16, I get a test failure after `npm install & npm test` with the 3.2.0 release:

[code]

**Expected behavior**

Expected tests to pass.

**Environment*:

Linux.

- Node.js version: 12 & 16
- `passport-saml` version: 3.20.

[2022-01-20 22:19] markstos commented on #666
I started working on this today, but ran into some speed bumps and am out of time for the moment. As logged in #668, I ran into an test failure. But that's not a blocker now that I've confirmed I get the same test failure before the change was made on 3.2.0.

Also, although I'm not sure if there are publicly visible, there are 4 or 5 other "dependabot alerts" for other dependencies that could use

[2022-01-21 02:09] markstos commented on #666
3.2.1 has been released.

@cjbarth I presume the commits here need to be ported to the 4.x branch.

[2022-01-28 22:09] hluedeke commented on #329
Hi @markstos! I went ahead and submitted a PR for this - to handle validateInResponseTo accepting true or false, I made a function that converts truthy/falsy into "always" or "never", which should make it backwards compatible.  I also wrote a few tests to test the new functionality, but I'm not sure how to "live" test it.

[2022-01-31 18:07] aw1875 opened #669 "[BUG] Error: error:0909006C:PEM routines:get_name:no start line"
**To Reproduce**
1. Generate SP files using `openssl req -x509 -newkey rsa:4096 -keyout sp-key.pem -out sp-cert.pem -nodes -days 900`
2. Add files to SAMLStrategy:
[code]
3. Go to login url.

**Expected behavior**
Expected to redirect me to my IdP login flow so I can get required information that the IdP passes back.

**Actual behavior**
Returned an error that says:
[code]

**Environment**

- Node

[2022-02-01 01:53] aw1875 commented on #669
I should also note I converted my idp cert from the xml data to a pem using [this tutorial](https://brianchildress.co/convert-x509-certificate-from-metadata/) to make sure there was no issues.

[2022-02-02 15:02] markstos commented on #669
This looks like a file format issue. A related fix was #500, for Windows line breaks.

Please review the file formats in the test suite and try to understand how your file format differs.

[2022-02-02 16:11] aw1875 commented on #669
@markstos All the keys are created in Linux and are never used by Windows. I can take a closer look at the test suite but I don't see why this should be any issue when Linux handles creating the keys

[2022-02-02 19:33] markstos commented on #669
@aw1875 Me neither, but you are the only one reporting this issue, and node-saml is the most popular SAML library Node, so there's also a possibility this is something in your environment.

If you contribute a failing test to the test suite for a case we should handle, then it's clearly a bug with passport-saml.

[2022-02-03 01:31] srd90 commented on #669
@aw1875 First of all: lot of issues including this one could be solved in a matter of minutes running code in debugger and investigating inputs at runtime.

Your bug report content raises following thoughts:

1. He writes that he created `sp-key.pem` and `sp-cert.pem` but uses `key.pem` and `cert.pem` in his code sample. Maybe he renamed those files incorrectly or copy pasted content of generated

[2022-02-03 01:40] aw1875 commented on #669
@srd90 Appreciate the response. I was actually going off a fairly outdated tutorial my school had so when I updated the passport-saml version I didn't realize the strategy had changed so much. I'm going to take a walk through the updated documentation and see if I can solve this along with your comment.

[2022-02-03 01:52] aw1875 commented on #669
@srd90 Thanks again. After making the appropriate changes I was successfully able to get this working. Again that is definitely on me for not checking the documentation after trying to follow an old tutorial but regardless I appreciate your help.

[2022-02-03 01:52] #669 closed

[2022-02-03 02:06] srd90 commented on #199
Pull request #548 might have resolved this issue also (from security point of view) even though documentation still says that "It is good idea..." at chapter [README.md#security-and-signatures](https://github.com/node-saml/passport-saml/blob/6ba76ba3a015fea96a2dd38f661a6c1f85bc44a1/README.md#security-and-signatures) (link points to version `3.2.1`).

#548 was released at `3.0.0` ([release notes](h

[2022-02-03 20:13] markstos commented on #199
Closing because making the cert mandatory is even better than documenting that it's a good idea. A patch to further improve the docs is still welcome.

[2022-02-03 20:13] #199 closed

[2022-02-04 08:27] ghusse commented on #329
For info, the PR by @hluedeke is here: https://github.com/node-saml/node-saml/pull/37

[2022-02-10 15:59] oliverlockwood opened #672 "[BUG] Single-line privateKey value works OK for (default) HTTP-Redirect, but not for HTTP-POST binding"
I had SAML working successfully, including signing, with the default HTTP Redirect binding.

Then I made a single change, to set `authnRequestBinding` to `HTTP-POST`, and suddenly the system threw an error because of "no start line".

[code]
`code: ERR_OSSL_PEM_NO_START_LINE`

My passport-saml configuration (with redactions) looks like this:
[code]

If I remove `authnRequestBinding`, it works fine

[2022-02-20 17:00] kg0r0 commented on #653
Is there any problem with the same revision policy as the following PR?
https://github.com/node-saml/node-saml/pull/41

[2022-02-21 18:42] abcd-ca commented on #430
Your SLO request routine looks the same as mine and I'm also having trouble. Here's a [SO ticket](https://stackoverflow.com/questions/71211418/how-should-sp-make-a-saml-2-0-slo-request-to-idp-get-or-post) I created.

[2022-02-21 19:50] abcd-ca commented on #221
Hey, what would that look like? Do you mean to change this line? `res.redirect(requestUrl);`

[2022-02-22 14:08] Brynjulf commented on #221
@abcd-ca
[code]
should be changed to
[code]
Not sure if this is still valid as i haven't been using this package for years

[2022-02-22 20:12] abcd-ca commented on #221
@Brynjulf thank you for your reply. I think you probably meant that in the reverse order, changing from `get` to `post` but I appreciate you clarifying which part you'd change.

For the benefit of anyone else trying to figure this out, `res.redirect` will create a `GET` request with a 302 (redirect) HTTP status code regardless of what method (get/post) the SP uses.

If you call `res.redirect(307,

[2022-02-22 20:50] srd90 commented on #221
@abcd-ca @Brynjulf SAML SLO involves passing `LogoutRequest` and `LogoutResponse` messages back and forth.

Look at the picture at comment https://github.com/node-saml/passport-saml/issues/221#issuecomment-339179355

If your application is `SP1` at that picture following things happen from you applications point of view (in following order):
* user has clicked logout (single logout button)
* your

[2022-02-23 09:05] thejaigoyal opened #674 "[Bug] passport-saml is not exporting enough types so we can segregate the code easily"
## To Reproduce

[code]

[code]

importing MultiSamlConfig throws below error
`Module '"passport-saml"' has no exported member 'MultiSamlConfig'.ts(2305)`

[2022-02-23 09:12] thejaigoyal commented on #674
PR #675  has been created!

[2022-02-23 21:07] srd90 commented on #430
@TomasSchlepers you wrote:

I would have expected to see that your `/slo/callback` implementation would response with `LogoutResponse` to incoming `LogoutRequest` as specified in SAML SLO specification.

NOTE: IdP shall report status of SLO with `LogoutResponse` to that same callback if SP instance was the one which was used to trigger SLO so prepare to handle also that message properly (as of now

[2022-03-02 21:45] pablaber opened #677 "[BUG] Undocumented breaking change with the `protocol` config option when updating to v3"
Just came across this and thought it would be good to bring up to prevent further issues. Although the documentation for v1 and v2 say that the `protocol` field defaults to `http://`. When looking at the code, it actually looks like the `protocol` field will default to the value of the current request, and not `http://`.

https://github.com/node-saml/passport-saml/blob/v1.1.0/lib/passport-saml/sam

[2022-03-03 00:24] markstos commented on #677
How do you propose the docs for this are fixed? We use GitHub Releases and I don't think we can go back and edit the 3.0 release notes. Patch welcome.

[2022-03-04 15:14] pablaber commented on #677
Good point, I think you can edit release notes in GitHub and just mention the breaking change there instead? Not sure that I'm able to do that on this repository.

[2022-03-07 12:57] cjbarth commented on #677
We can add to the override file for GitHub Release Notes. I hope to have some time this week or next to get back to this project and I can help then if you don't figure it out before then.

[2022-03-07 20:15] markstos commented on #677
I'm not sure to do this with `release-it`, but unless `release-it` would revert the change, we /can/ edit the release notes for historical releases. https://github.com/node-saml/passport-saml/releases/edit/v3.0.0

Since I'm usually do not working on releases lately, I'll wait till @cjbarth has some time to look at this.

[2022-03-07 20:56] cjbarth commented on #677
The tool that generates release notes will re-generate `CHANGELOG.md`, so a PR to change that, will get modified the next time through. We can manage that through careful merging, but that gets complex over time. It would be better if we modified `.grenrc.js` to simply change the commit message of the commit that actually caused the break. That will fix it for all future runs of [GREN](https://git

[2022-03-08 08:25] afurlane commented on #339
I'm going to open a pull request for this bug; it's my first time on github, so be patient.

[2022-03-14 21:54] LeonardoDB opened #679 "[BUG] ERROR: SAML provider returned Responder error: undefined"
Hi everyone

I'm getting this error 'Error: SAML provider returned Error response: undefined' when some users try to send callback to authenticate saml
[code]
Can anyone help me urgently?

### Environment

* Operating System:
* Node version: 12
* passport-saml: ^3.1.0

[2022-03-19 19:31] srd90 commented on #679
First of all `^3.1.0` is not exact version.

@LeonardoDB  you wrote:

Error message you pasted is

Lets assume you had `passport-saml 3.1.0` in which case this error would have come from this codeblock:
https://github.com/node-saml/passport-saml/blob/f1e00b64c21a725f545e675cd810bbaa435a3972/src/node-saml/saml.ts#L856-L871

Your stacktrace's error message (`msgType === Responder`) indicates that yo

[2022-03-30 19:00] innovatechs opened #681 "[BUG] options.authnContext as a string is no longer supported"
Hi everyone

We have defined the options.authnContext parameter as a string (client configuration) and we are getting an error because the new versions of Passport-SAML are expecting this parameter to be an array only. This is a regression compared to previous versions which support both string and array types.

**Expected behavior**

The previous versions were creating an array which contains opt

[2022-03-30 19:17] innovatechs opened #682 "[BUG] InResponseTo not valid for all requests"
Hi everyone

We are getting the InResponseTo not valid error for each request since the CacheProvider is creating a new instance for each call (our  assumption): getting empty keys when we call the get method.

Expected behavior
The previous versions were using one instance of the CacheProvider (from constructor) and keys are managed correctly (save, get and delete).

Node.js version: 14
passport-

[2022-03-30 21:30] srd90 commented on #681
I believe that this was discussed at PR #615 (see especially comment https://github.com/node-saml/passport-saml/pull/615#issuecomment-867818849)

[2022-03-30 23:58] srd90 commented on #682
You didn't care to define what was your previous version.

Lets assume your previous version was https://github.com/sign-in-canada/passport-saml/tree/275f15488823407043208677caf3dea8fee9903a (current HEAD of `sign-in-canada/passport-saml` repo's `master` branch which seems to be based on `node-saml/passport-saml 2.x`).

And lets assume that you are merging `passport-saml 3.2.1` (based on content o

[2022-03-31 12:58] cjbarth commented on #682
I'm in agreement with @srd90 here. I don't think we have enough information to say what exactly the problem is. Moving to discussion.